In [1]:
import selenium
from selenium import webdriver
import time
import pandas as pd
import numpy as np
from selenium.common.exceptions import NoSuchElementException

In [2]:
driver = webdriver.Chrome('chromedriver.exe')  #the html is loaded.

In [3]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

def get_yatra(dep_from, arr_to, dep_day, dep_mon, dep_year, fl_cl):
    urls = ('https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class='+fl_cl+
    '&destination='+arr_to+'&destinationCountry=IN&flexi=0&flight_depart_date='+dep_day+'%2F'+dep_mon+'%2F'+dep_year+'&hb=0&noOfSegments=1&origin='
    +dep_from+'&originCountry=IN&type=O&unique=207953473702&viewName=normal')
    
    driver.get(urls)

    time.sleep(35)
    
    for i in range(45): 
       driver.execute_script("window.scrollBy(0, 10000)")
       time.sleep(1)
    
    try:
        air = driver.find_elements_by_xpath('//span[@class="i-b text ellipsis"]')
        for i in air:
            airlines.append(i.text)
    except NoSuchElementException:
        airlines.append('-')
    
    try:
        dep = driver.find_elements_by_xpath('//div[@class="i-b pr"]')
        for d in dep:
            departure.append(d.text)
    except NoSuchElementException:
        departure.append('-')
        
    try:
        dur = driver.find_elements_by_xpath('//div[@class="stop-cont pl-13"]//p')
        for u in dur:
            duration.append(u.text)
    except NoSuchElementException:
        duration.append('-')
        
    try:
        stop = driver.find_elements_by_xpath('//div[@class=" font-lightgrey fs-10 tipsy i-b fs-10"]//span')
        for s in stop:
            stops.append(s.text)
    except NoSuchElementException:
        stops.append('-')
        
        
    try:
        tcity = driver.find_elements_by_xpath('//div[@class="i-b pdd-0 text-left atime col-5"]//p[2]')
        for t in tcity:
            to_city.append(t.text)
    except NoSuchElementException:
        to_city.append('-')
        
    try:
        pri = driver.find_elements_by_xpath('//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
        for p in pri:
            price.append(p.text.replace(',',''))
    except NoSuchElementException:
        price.append('-')

In [4]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('BOM','DEL','29','10','2022','Economy')
time.sleep(4)
get_yatra('BOM','BLR','29','10','2022','Economy')
time.sleep(4)
get_yatra('BOM','MAA','29','10','2022','Economy')
time.sleep(4)
get_yatra('BOM','CCU','29','10','2022','Economy')
time.sleep(4)
get_yatra('BOM','HYD','29','10','2022','Economy')
time.sleep(4)
get_yatra('BOM','AMD','29','10','2022','Economy')
time.sleep(4)
get_yatra('BOM','GOI','29','10','2022','Economy')



x1 = pd.DataFrame({})
x1['airlines'] = airlines
x1['departure'] = departure
x1['duration'] = duration
x1['stops'] = stops
x1['from_city'] = 'Mumbai'
x1['to_city'] = to_city
x1['price'] = price
x1['journey_date'] = '2022-10-29'
x1['fclass'] = 'Economy'
x1

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Air Asia,22:55,2h 05m,Non Stop,Mumbai,New Delhi,2339,2022-10-29,Economy
1,Air Asia,07:20,2h 10m,Non Stop,Mumbai,New Delhi,2339,2022-10-29,Economy
2,Air India,07:00,1h 55m,Non Stop,Mumbai,New Delhi,2464,2022-10-29,Economy
3,Air India,08:00,2h 15m,Non Stop,Mumbai,New Delhi,2464,2022-10-29,Economy
4,Air India,10:00,2h 15m,Non Stop,Mumbai,New Delhi,2464,2022-10-29,Economy
...,...,...,...,...,...,...,...,...,...
715,Vistara,11:55,25h 55m,1 Stop,Mumbai,Goa,12978,2022-10-29,Economy
716,Vistara,19:20,18h 30m,2 Stop(s),Mumbai,Goa,15728,2022-10-29,Economy
717,Vistara,17:50,15h 55m,2 Stop(s),Mumbai,Goa,18122,2022-10-29,Economy
718,Vistara,21:00,16h 50m,2 Stop(s),Mumbai,Goa,18122,2022-10-29,Economy
719,Vistara,14:05,19h 40m,2 Stop(s),Mumbai,Goa,18164,2022-10-29,Economy

In [5]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('BOM','DEL','31','10','2022','Economy')
time.sleep(4)
get_yatra('BOM','BLR','31','10','2022','Economy')
time.sleep(4)
get_yatra('BOM','MAA','31','10','2022','Economy')
time.sleep(4)
get_yatra('BOM','CCU','31','10','2022','Economy')
time.sleep(4)
get_yatra('BOM','HYD','31','10','2022','Economy')
time.sleep(4)
get_yatra('BOM','AMD','31','10','2022','Economy')
time.sleep(4)
get_yatra('BOM','GOI','31','10','2022','Economy')



x2 = pd.DataFrame({})
x2['airlines'] = airlines
x2['departure'] = departure
x2['duration'] = duration
x2['stops'] = stops
x2['from_city'] = 'Mumbai'
x2['to_city'] = to_city
x2['price'] = price
x2['journey_date'] = '2022-10-31'
x2['fclass'] = 'Economy'
x2

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Air India,07:00,1h 55m,Non Stop,Mumbai,New Delhi,2464,2022-10-31,Economy
1,Air India,08:00,2h 15m,Non Stop,Mumbai,New Delhi,2464,2022-10-31,Economy
2,Air India,10:00,2h 15m,Non Stop,Mumbai,New Delhi,2464,2022-10-31,Economy
3,Air India,19:00,2h 15m,Non Stop,Mumbai,New Delhi,2464,2022-10-31,Economy
4,Air India,18:00,2h 30m,Non Stop,Mumbai,New Delhi,2464,2022-10-31,Economy
...,...,...,...,...,...,...,...,...,...
419,Go First,08:00,9h 05m,1 Stop,Mumbai,Ahmedabad,13727,2022-10-31,Economy
420,Go First,21:15,10h 15m,1 Stop,Mumbai,Ahmedabad,13727,2022-10-31,Economy
421,Go First,10:45,6h 15m,1 Stop,Mumbai,Ahmedabad,15856,2022-10-31,Economy
422,Go First,05:00,7h 30m,1 Stop,Mumbai,Ahmedabad,24331,2022-10-31,Economy
423,Go First,08:35,9h 00m,1 Stop,Mumbai,Ahmedabad,24331,2022-10-31,Economy

In [6]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('BOM','DEL','2','11','2022','Economy')
time.sleep(4)
get_yatra('BOM','BLR','2','11','2022','Economy')
time.sleep(4)
get_yatra('BOM','MAA','2','11','2022','Economy')
time.sleep(4)
get_yatra('BOM','CCU','2','11','2022','Economy')
time.sleep(4)
get_yatra('BOM','HYD','2','11','2022','Economy')
time.sleep(4)
get_yatra('BOM','AMD','2','11','2022','Economy')
time.sleep(4)
get_yatra('BOM','GOI','2','11','2022','Economy')



x3 = pd.DataFrame({})
x3['airlines'] = airlines
x3['departure'] = departure
x3['duration'] = duration
x3['stops'] = stops
x3['from_city'] = 'Mumbai'
x3['to_city'] = to_city
x3['price'] = price
x3['journey_date'] = '2022-11-2'
x3['fclass'] = 'Economy'
x3

ValueError: Length of values does not match length of index

In [ ]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('BOM','DEL','4','11','2022','Economy')
time.sleep(4)
get_yatra('BOM','BLR','4','11','2022','Economy')
time.sleep(4)
get_yatra('BOM','MAA','4','11','2022','Economy')
time.sleep(4)
get_yatra('BOM','CCU','4','11','2022','Economy')
time.sleep(4)
get_yatra('BOM','HYD','4','11','2022','Economy')
time.sleep(4)
get_yatra('BOM','AMD','4','11','2022','Economy')
time.sleep(4)
get_yatra('BOM','GOI','4','11','2022','Economy')



x4 = pd.DataFrame({})
x4['airlines'] = airlines
x4['departure'] = departure
x4['duration'] = duration
x4['stops'] = stops
x4['from_city'] = 'Mumbai'
x4['to_city'] = to_city
x4['price'] = price
x4['journey_date'] = '2022-11-4'
x4['fclass'] = 'Economy'
x4

In [ ]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('BOM','DEL','6','11','2022','Economy')
time.sleep(4)
get_yatra('BOM','BLR','6','11','2022','Economy')
time.sleep(4)
get_yatra('BOM','MAA','6','11','2022','Economy')
time.sleep(4)
get_yatra('BOM','CCU','6','11','2022','Economy')
time.sleep(4)
get_yatra('BOM','HYD','6','11','2022','Economy')
time.sleep(4)
get_yatra('BOM','AMD','6','11','2022','Economy')
time.sleep(4)
get_yatra('BOM','GOI','6','11','2022','Economy')



x5 = pd.DataFrame({})
x5['airlines'] = airlines
x5['departure'] = departure
x5['duration'] = duration
x5['stops'] = stops
x5['from_city'] = 'Mumbai'
x5['to_city'] = to_city
x5['price'] = price
x5['journey_date'] = '2022-11-6'
x5['fclass'] = 'Economy'
x5

In [ ]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('BOM','DEL','8','11','2022','Economy')
time.sleep(4)
get_yatra('BOM','BLR','8','11','2022','Economy')
time.sleep(4)
get_yatra('BOM','MAA','8','11','2022','Economy')
time.sleep(4)
get_yatra('BOM','CCU','8','11','2022','Economy')
time.sleep(4)
get_yatra('BOM','HYD','8','11','2022','Economy')
time.sleep(4)
get_yatra('BOM','AMD','8','11','2022','Economy')
time.sleep(4)
get_yatra('BOM','GOI','8','11','2022','Economy')



x6 = pd.DataFrame({})
x6['airlines'] = airlines
x6['departure'] = departure
x6['duration'] = duration
x6['stops'] = stops
x6['from_city'] = 'Mumbai'
x6['to_city'] = to_city
x6['price'] = price
x6['journey_date'] = '2022-11-8'
x6['fclass'] = 'Economy'
x6

In [ ]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('BOM','DEL','10','11','2022','Economy')
time.sleep(4)
get_yatra('BOM','BLR','10','11','2022','Economy')
time.sleep(4)
get_yatra('BOM','MAA','10','11','2022','Economy')
time.sleep(4)
get_yatra('BOM','CCU','10','11','2022','Economy')
time.sleep(4)
get_yatra('BOM','HYD','10','11','2022','Economy')
time.sleep(4)
get_yatra('BOM','AMD','10','11','2022','Economy')
time.sleep(4)
get_yatra('BOM','GOI','10','11','2022','Economy')



x7 = pd.DataFrame({})
x7['airlines'] = airlines
x7['departure'] = departure
x7['duration'] = duration
x7['stops'] = stops
x7['from_city'] = 'Mumbai'
x7['to_city'] = to_city
x7['price'] = price
x7['journey_date'] = '2022-11-10'
x7['fclass'] = 'Economy'
x7

In [ ]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('BOM','DEL','12','11','2022','Economy')
time.sleep(4)
get_yatra('BOM','BLR','12','11','2022','Economy')
time.sleep(4)
get_yatra('BOM','MAA','12','11','2022','Economy')
time.sleep(4)
get_yatra('BOM','CCU','12','11','2022','Economy')
time.sleep(4)
get_yatra('BOM','HYD','12','11','2022','Economy')
time.sleep(4)
get_yatra('BOM','AMD','12','11','2022','Economy')
time.sleep(4)
get_yatra('BOM','GOI','12','11','2022','Economy')



x8 = pd.DataFrame({})
x8['airlines'] = airlines
x8['departure'] = departure
x8['duration'] = duration
x8['stops'] = stops
x8['from_city'] = 'Mumbai'
x8['to_city'] = to_city
x8['price'] = price
x8['journey_date'] = '2022-11-12'
x8['fclass'] = 'Economy'
x8

In [ ]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('BOM','DEL','14','11','2022','Economy')
time.sleep(4)
get_yatra('BOM','BLR','14','11','2022','Economy')
time.sleep(4)
get_yatra('BOM','MAA','14','11','2022','Economy')
time.sleep(4)
get_yatra('BOM','CCU','14','11','2022','Economy')
time.sleep(4)
get_yatra('BOM','HYD','14','11','2022','Economy')
time.sleep(4)
get_yatra('BOM','AMD','14','11','2022','Economy')
time.sleep(4)
get_yatra('BOM','GOI','14','11','2022','Economy')



x9 = pd.DataFrame({})
x9['airlines'] = airlines
x9['departure'] = departure
x9['duration'] = duration
x9['stops'] = stops
x9['from_city'] = 'Mumbai'
x9['to_city'] = to_city
x9['price'] = price
x9['journey_date'] = '2022-11-14'
x9['fclass'] = 'Economy'
x9

In [ ]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('BOM','DEL','30','10','2022','Special')
time.sleep(4)
get_yatra('BOM','BLR','30','10','2022','Special')
time.sleep(4)
get_yatra('BOM','MAA','30','10','2022','Special')
time.sleep(4)
get_yatra('BOM','CCU','30','10','2022','Special')
time.sleep(4)
get_yatra('BOM','HYD','30','10','2022','Special')
time.sleep(4)
get_yatra('BOM','AMD','30','10','2022','Special')
time.sleep(4)
get_yatra('BOM','GOI','30','10','2022','Special')



y1 = pd.DataFrame({})
y1['airlines'] = airlines
y1['departure'] = departure
y1['duration'] = duration
y1['stops'] = stops
y1['from_city'] = 'Mumbai'
y1['to_city'] = to_city
y1['price'] = price
y1['journey_date'] = '2022-10-30'
y1['fclass'] = 'Special'
y1

In [ ]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('BOM','DEL','1','11','2022','Special')
time.sleep(4)
get_yatra('BOM','BLR','1','11','2022','Special')
time.sleep(4)
get_yatra('BOM','MAA','1','11','2022','Special')
time.sleep(4)
get_yatra('BOM','CCU','1','11','2022','Special')
time.sleep(4)
get_yatra('BOM','HYD','1','11','2022','Special')
time.sleep(4)
get_yatra('BOM','AMD','1','11','2022','Special')
time.sleep(4)
get_yatra('BOM','GOI','1','11','2022','Special')



y2 = pd.DataFrame({})
y2['airlines'] = airlines
y2['departure'] = departure
y2['duration'] = duration
y2['stops'] = stops
y2['from_city'] = 'Mumbai'
y2['to_city'] = to_city
y2['price'] = price
y2['journey_date'] = '2022-11-1'
y2['fclass'] = 'Special'
y2

In [ ]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('BOM','DEL','3','11','2022','Special')
time.sleep(4)
get_yatra('BOM','BLR','3','11','2022','Special')
time.sleep(4)
get_yatra('BOM','MAA','3','11','2022','Special')
time.sleep(4)
get_yatra('BOM','CCU','3','11','2022','Special')
time.sleep(4)
get_yatra('BOM','HYD','3','11','2022','Special')
time.sleep(4)
get_yatra('BOM','AMD','3','11','2022','Special')
time.sleep(4)
get_yatra('BOM','GOI','3','11','2022','Special')



y3 = pd.DataFrame({})
y3['airlines'] = airlines
y3['departure'] = departure
y3['duration'] = duration
y3['stops'] = stops
y3['from_city'] = 'Mumbai'
y3['to_city'] = to_city
y3['price'] = price
y3['journey_date'] = '2022-11-3'
y3['fclass'] = 'Special'
y3

In [ ]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('BOM','DEL','5','11','2022','Special')
time.sleep(4)
get_yatra('BOM','BLR','5','11','2022','Special')
time.sleep(4)
get_yatra('BOM','MAA','5','11','2022','Special')
time.sleep(4)
get_yatra('BOM','CCU','5','11','2022','Special')
time.sleep(4)
get_yatra('BOM','HYD','5','11','2022','Special')
time.sleep(4)
get_yatra('BOM','AMD','5','11','2022','Special')
time.sleep(4)
get_yatra('BOM','GOI','5','11','2022','Special')



y4 = pd.DataFrame({})
y4['airlines'] = airlines
y4['departure'] = departure
y4['duration'] = duration
y4['stops'] = stops
y4['from_city'] = 'Mumbai'
y4['to_city'] = to_city
y4['price'] = price
y4['journey_date'] = '2022-11-5'
y4['fclass'] = 'Special'
y4

In [ ]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('BOM','DEL','7','11','2022','Special')
time.sleep(4)
get_yatra('BOM','BLR','7','11','2022','Special')
time.sleep(4)
get_yatra('BOM','MAA','7','11','2022','Special')
time.sleep(4)
get_yatra('BOM','CCU','7','11','2022','Special')
time.sleep(4)
get_yatra('BOM','HYD','7','11','2022','Special')
time.sleep(4)
get_yatra('BOM','AMD','7','11','2022','Special')
time.sleep(4)
get_yatra('BOM','GOI','7','11','2022','Special')



y5 = pd.DataFrame({})
y5['airlines'] = airlines
y5['departure'] = departure
y5['duration'] = duration
y5['stops'] = stops
y5['from_city'] = 'Mumbai'
y5['to_city'] = to_city
y5['price'] = price
y5['journey_date'] = '2022-11-7'
y5['fclass'] = 'Special'
y5

In [ ]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('BOM','DEL','9','11','2022','Special')
time.sleep(4)
get_yatra('BOM','BLR','9','11','2022','Special')
time.sleep(4)
get_yatra('BOM','MAA','9','11','2022','Special')
time.sleep(4)
get_yatra('BOM','CCU','9','11','2022','Special')
time.sleep(4)
get_yatra('BOM','HYD','9','11','2022','Special')
time.sleep(4)
get_yatra('BOM','AMD','9','11','2022','Special')
time.sleep(4)
get_yatra('BOM','GOI','9','11','2022','Special')



y6 = pd.DataFrame({})
y6['airlines'] = airlines
y6['departure'] = departure
y6['duration'] = duration
y6['stops'] = stops
y6['from_city'] = 'Mumbai'
y6['to_city'] = to_city
y6['price'] = price
y6['journey_date'] = '2022-11-9'
y6['fclass'] = 'Special'
y6

In [ ]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('BOM','DEL','11','11','2022','Special')
time.sleep(4)
get_yatra('BOM','BLR','11','11','2022','Special')
time.sleep(4)
get_yatra('BOM','MAA','11','11','2022','Special')
time.sleep(4)
get_yatra('BOM','CCU','11','11','2022','Special')
time.sleep(4)
get_yatra('BOM','HYD','11','11','2022','Special')
time.sleep(4)
get_yatra('BOM','AMD','11','11','2022','Special')
time.sleep(4)
get_yatra('BOM','GOI','11','11','2022','Special')



y7 = pd.DataFrame({})
y7['airlines'] = airlines
y7['departure'] = departure
y7['duration'] = duration
y7['stops'] = stops
y7['from_city'] = 'Mumbai'
y7['to_city'] = to_city
y7['price'] = price
y7['journey_date'] = '2022-11-11'
y7['fclass'] = 'Special'
y7

In [ ]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('BOM','DEL','13','11','2022','Special')
time.sleep(4)
get_yatra('BOM','BLR','13','11','2022','Special')
time.sleep(4)
get_yatra('BOM','MAA','13','11','2022','Special')
time.sleep(4)
get_yatra('BOM','CCU','13','11','2022','Special')
time.sleep(4)
get_yatra('BOM','HYD','13','11','2022','Special')
time.sleep(4)
get_yatra('BOM','AMD','13','11','2022','Special')
time.sleep(4)
get_yatra('BOM','GOI','13','11','2022','Special')



y8 = pd.DataFrame({})
y8['airlines'] = airlines
y8['departure'] = departure
y8['duration'] = duration
y8['stops'] = stops
y8['from_city'] = 'Mumbai'
y8['to_city'] = to_city
y8['price'] = price
y8['journey_date'] = '2022-11-13'
y8['fclass'] = 'Special'
y8

In [ ]:
mumbai1 = pd.concat([x1,x2,x3,x4,x5,x6,x7,x8,x9,y1,y2,y3,y4,y5,y6,y7,y8], axis = 0)
mumbai1.shape
mumbai1.to_excel('mumbai1.xlsx')

In [ ]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('BOM','DEL','15','11','2022','Business')
time.sleep(4)
get_yatra('BOM','BLR','15','11','2022','Business')
time.sleep(4)
get_yatra('BOM','MAA','15','11','2022','Business')
time.sleep(4)
get_yatra('BOM','CCU','15','11','2022','Business')
time.sleep(4)
get_yatra('BOM','HYD','15','11','2022','Business')
time.sleep(4)
get_yatra('BOM','AMD','15','11','2022','Business')
time.sleep(4)
get_yatra('BOM','GOI','15','11','2022','Business')



z1 = pd.DataFrame({})
z1['airlines'] = airlines
z1['departure'] = departure
z1['duration'] = duration
z1['stops'] = stops
z1['from_city'] = 'Mumbai'
z1['to_city'] = to_city
z1['price'] = price
z1['journey_date'] = '2022-11-15'
z1['fclass'] = 'Business'
z1

In [ ]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('BOM','DEL','1','11','2022','Business')
time.sleep(4)
get_yatra('BOM','BLR','1','11','2022','Business')
time.sleep(4)
get_yatra('BOM','MAA','1','11','2022','Business')
time.sleep(4)
get_yatra('BOM','CCU','1','11','2022','Business')
time.sleep(4)
get_yatra('BOM','HYD','1','11','2022','Business')
time.sleep(4)
get_yatra('BOM','AMD','1','11','2022','Business')
time.sleep(4)
get_yatra('BOM','GOI','1','11','2022','Business')



z2 = pd.DataFrame({})
z2['airlines'] = airlines
z2['departure'] = departure
z2['duration'] = duration
z2['stops'] = stops
z2['from_city'] = 'Mumbai'
z2['to_city'] = to_city
z2['price'] = price
z2['journey_date'] = '2022-11-1'
z2['fclass'] = 'Business'
z2

In [ ]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('BOM','DEL','4','11','2022','Business')
time.sleep(4)
get_yatra('BOM','BLR','4','11','2022','Business')
time.sleep(4)
get_yatra('BOM','MAA','4','11','2022','Business')
time.sleep(4)
get_yatra('BOM','CCU','4','11','2022','Business')
time.sleep(4)
get_yatra('BOM','HYD','4','11','2022','Business')
time.sleep(4)
get_yatra('BOM','AMD','4','11','2022','Business')
time.sleep(4)
get_yatra('BOM','GOI','4','11','2022','Business')



z3 = pd.DataFrame({})
z3['airlines'] = airlines
z3['departure'] = departure
z3['duration'] = duration
z3['stops'] = stops
z3['from_city'] = 'Mumbai'
z3['to_city'] = to_city
z3['price'] = price
z3['journey_date'] = '2022-11-4'
z3['fclass'] = 'Business'
z3

In [ ]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('BOM','DEL','7','11','2022','Business')
time.sleep(4)
get_yatra('BOM','BLR','7','11','2022','Business')
time.sleep(4)
get_yatra('BOM','MAA','7','11','2022','Business')
time.sleep(4)
get_yatra('BOM','CCU','7','11','2022','Business')
time.sleep(4)
get_yatra('BOM','HYD','7','11','2022','Business')
time.sleep(4)
get_yatra('BOM','AMD','7','11','2022','Business')
time.sleep(4)
get_yatra('BOM','GOI','7','11','2022','Business')



z4 = pd.DataFrame({})
z4['airlines'] = airlines
z4['departure'] = departure
z4['duration'] = duration
z4['stops'] = stops
z4['from_city'] = 'Mumbai'
z4['to_city'] = to_city
z4['price'] = price
z4['journey_date'] = '2022-11-7'
z4['fclass'] = 'Business'
z4

In [ ]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('BOM','DEL','10','11','2022','Business')
time.sleep(4)
get_yatra('BOM','BLR','10','11','2022','Business')
time.sleep(4)
get_yatra('BOM','MAA','10','11','2022','Business')
time.sleep(4)
get_yatra('BOM','CCU','10','11','2022','Business')
time.sleep(4)
get_yatra('BOM','HYD','10','11','2022','Business')
time.sleep(4)
get_yatra('BOM','AMD','10','11','2022','Business')
time.sleep(4)
get_yatra('BOM','GOI','10','11','2022','Business')



z5 = pd.DataFrame({})
z5['airlines'] = airlines
z5['departure'] = departure
z5['duration'] = duration
z5['stops'] = stops
z5['from_city'] = 'Mumbai'
z5['to_city'] = to_city
z5['price'] = price
z5['journey_date'] = '2022-11-10'
z5['fclass'] = 'Business'
z5

In [ ]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('BOM','DEL','13','11','2022','Business')
time.sleep(4)
get_yatra('BOM','BLR','13','11','2022','Business')
time.sleep(4)
get_yatra('BOM','MAA','13','11','2022','Business')
time.sleep(4)
get_yatra('BOM','CCU','13','11','2022','Business')
time.sleep(4)
get_yatra('BOM','HYD','13','11','2022','Business')
time.sleep(4)
get_yatra('BOM','AMD','13','11','2022','Business')
time.sleep(4)
get_yatra('BOM','GOI','13','11','2022','Business')



z6 = pd.DataFrame({})
z6['airlines'] = airlines
z6['departure'] = departure
z6['duration'] = duration
z6['stops'] = stops
z6['from_city'] = 'Mumbai'
z6['to_city'] = to_city
z6['price'] = price
z6['journey_date'] = '2022-11-13'
z6['fclass'] = 'Business'
z6

In [ ]:
mumbai = pd.concat([x1,x2,x3,x4,x5,x6,x7,x8,x9,y1,y2,y3,y4,y5,y6,y7,y8,z1,z2,z3,z4,z5,z6], axis = 0)
mumbai.shape
mumbai.to_excel('mumbai.xlsx')