In [1]:
import selenium
from selenium import webdriver
import time
import pandas as pd
import numpy as np
from selenium.common.exceptions import NoSuchElementException

In [2]:
driver = webdriver.Chrome('chromedriver.exe')  #the html is loaded.

In [3]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

def get_yatra(dep_from, arr_to, dep_day, dep_mon, dep_year, fl_cl):
    urls = ('https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class='+fl_cl+
    '&destination='+arr_to+'&destinationCountry=IN&flexi=0&flight_depart_date='+dep_day+'%2F'+dep_mon+'%2F'+dep_year+'&hb=0&noOfSegments=1&origin='
    +dep_from+'&originCountry=IN&type=O&unique=207953473702&viewName=normal')
    
    driver.get(urls)

    time.sleep(45)
    
    for i in range(35): 
       driver.execute_script("window.scrollBy(0, 10000)")
       time.sleep(1)
    
    try:
        air = driver.find_elements_by_xpath('//span[@class="i-b text ellipsis"]')
        for i in air:
            airlines.append(i.text)
    except NoSuchElementException:
        airlines.append('-')
    
    try:
        dep = driver.find_elements_by_xpath('//div[@class="i-b pr"]')
        for d in dep:
            departure.append(d.text)
    except NoSuchElementException:
        departure.append('-')
        
    try:
        dur = driver.find_elements_by_xpath('//div[@class="stop-cont pl-13"]//p')
        for u in dur:
            duration.append(u.text)
    except NoSuchElementException:
        duration.append('-')
        
    try:
        stop = driver.find_elements_by_xpath('//div[@class=" font-lightgrey fs-10 tipsy i-b fs-10"]//span')
        for s in stop:
            stops.append(s.text)
    except NoSuchElementException:
        stops.append('-')
        
        
    try:
        tcity = driver.find_elements_by_xpath('//div[@class="i-b pdd-0 text-left atime col-5"]//p[2]')
        for t in tcity:
            to_city.append(t.text)
    except NoSuchElementException:
        to_city.append('-')
        
        
    try:
        pri = driver.find_elements_by_xpath('//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
        for p in pri:
            price.append(p.text.replace(',',''))
    except NoSuchElementException:
        price.append('-')

In [4]:
get_yatra('DEL','BOM','27','10','2022','Economy')

In [5]:
x = pd.DataFrame({})
x['airlines'] = airlines
x['departure'] = departure
x['duration'] = duration
x['stops'] = stops
x['from_city'] = 'New Delhi'
x['to_city'] = to_city
x['price'] = price
x['journey_date'] = '2022-10-27'
x['fclass'] = 'Economy'
x

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Air Asia,04:25,2h 10m,Non Stop,New Delhi,Mumbai,2410,2022-10-27,Economy
1,Air Asia,20:00,2h 15m,Non Stop,New Delhi,Mumbai,2410,2022-10-27,Economy
2,Air India,08:00,2h 10m,Non Stop,New Delhi,Mumbai,2476,2022-10-27,Economy
3,Air India,10:40,2h 10m,Non Stop,New Delhi,Mumbai,2476,2022-10-27,Economy
4,Air India,20:00,2h 10m,Non Stop,New Delhi,Mumbai,2476,2022-10-27,Economy
...,...,...,...,...,...,...,...,...,...
157,Go First,20:05,5h 55m,1 Stop,New Delhi,Mumbai,13979,2022-10-27,Economy
158,Go First,07:30,8h 55m,1 Stop,New Delhi,Mumbai,13979,2022-10-27,Economy
159,Go First,09:00,4h 55m,1 Stop,New Delhi,Mumbai,14940,2022-10-27,Economy
160,SpiceJet,18:00,16h 30m,1 Stop,New Delhi,Mumbai,19465,2022-10-27,Economy
161,Go First,10:20,5h 10m,1 Stop,New Delhi,Mumbai,23154,2022-10-27,Economy

In [6]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('DEL','BOM','29','10','2022','Economy')

x1 = pd.DataFrame({})
x1['airlines'] = airlines
x1['departure'] = departure
x1['duration'] = duration
x1['stops'] = stops
x1['from_city'] = 'New Delhi'
x1['to_city'] = to_city
x1['price'] = price
x1['journey_date'] = '2022-10-29'
x1['fclass'] = 'Economy'
x1

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Air Asia,04:25,2h 10m,Non Stop,New Delhi,Mumbai,2410,2022-10-29,Economy
1,Air Asia,20:00,2h 15m,Non Stop,New Delhi,Mumbai,2410,2022-10-29,Economy
2,Air India,08:00,2h 10m,Non Stop,New Delhi,Mumbai,2476,2022-10-29,Economy
3,Air India,10:40,2h 10m,Non Stop,New Delhi,Mumbai,2476,2022-10-29,Economy
4,Air India,20:00,2h 10m,Non Stop,New Delhi,Mumbai,2476,2022-10-29,Economy
...,...,...,...,...,...,...,...,...,...
140,Go First,07:30,4h 50m,1 Stop,New Delhi,Mumbai,13979,2022-10-29,Economy
141,Go First,20:05,5h 55m,1 Stop,New Delhi,Mumbai,13979,2022-10-29,Economy
142,Go First,07:30,8h 55m,1 Stop,New Delhi,Mumbai,13979,2022-10-29,Economy
143,Go First,09:00,4h 55m,1 Stop,New Delhi,Mumbai,14940,2022-10-29,Economy
144,Go First,10:20,5h 10m,1 Stop,New Delhi,Mumbai,23154,2022-10-29,Economy

In [7]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('DEL','BOM','31','10','2022','Economy')

x2 = pd.DataFrame({})
x2['airlines'] = airlines
x2['departure'] = departure
x2['duration'] = duration
x2['stops'] = stops
x2['from_city'] = 'New Delhi'
x2['to_city'] = to_city
x2['price'] = price
x2['journey_date'] = '2022-10-31'
x2['fclass'] = 'Economy'
x2

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Air India,08:00,2h 10m,Non Stop,New Delhi,Mumbai,2476,2022-10-31,Economy
1,Air India,10:40,2h 10m,Non Stop,New Delhi,Mumbai,2476,2022-10-31,Economy
2,Air India,20:00,2h 10m,Non Stop,New Delhi,Mumbai,2476,2022-10-31,Economy
3,Air India,15:05,3h 10m,1 Stop,New Delhi,Mumbai,2476,2022-10-31,Economy
4,Air India,17:50,3h 45m,1 Stop,New Delhi,Mumbai,2476,2022-10-31,Economy
...,...,...,...,...,...,...,...,...,...
91,Go First,19:10,6h 50m,1 Stop,New Delhi,Mumbai,20393,2022-10-31,Economy
92,Go First,11:30,5h 30m,1 Stop,New Delhi,Mumbai,21964,2022-10-31,Economy
93,Go First,09:55,7h 05m,1 Stop,New Delhi,Mumbai,21964,2022-10-31,Economy
94,Go First,09:00,8h 00m,1 Stop,New Delhi,Mumbai,21964,2022-10-31,Economy
95,Go First,09:10,7h 05m,1 Stop,New Delhi,Mumbai,23154,2022-10-31,Economy

In [8]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('DEL','BOM','1','11','2022','Economy')

x3 = pd.DataFrame({})
x3['airlines'] = airlines
x3['departure'] = departure
x3['duration'] = duration
x3['stops'] = stops
x3['from_city'] = 'New Delhi'
x3['to_city'] = to_city
x3['price'] = price
x3['journey_date'] = '2022-11-1'
x3['fclass'] = 'Economy'
x3

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Air India,08:00,2h 10m,Non Stop,New Delhi,Mumbai,2476,2022-11-1,Economy
1,Air India,10:40,2h 10m,Non Stop,New Delhi,Mumbai,2476,2022-11-1,Economy
2,Air India,20:00,2h 10m,Non Stop,New Delhi,Mumbai,2476,2022-11-1,Economy
3,Air India,19:00,2h 15m,Non Stop,New Delhi,Mumbai,2476,2022-11-1,Economy
4,Air India,15:05,3h 10m,1 Stop,New Delhi,Mumbai,2476,2022-11-1,Economy
...,...,...,...,...,...,...,...,...,...
83,Go First,09:15,8h 55m,1 Stop,New Delhi,Mumbai,20689,2022-11-1,Economy
84,Go First,11:30,5h 30m,1 Stop,New Delhi,Mumbai,21964,2022-11-1,Economy
85,Go First,09:55,7h 05m,1 Stop,New Delhi,Mumbai,21964,2022-11-1,Economy
86,Go First,09:00,8h 00m,1 Stop,New Delhi,Mumbai,21964,2022-11-1,Economy
87,Go First,09:10,7h 05m,1 Stop,New Delhi,Mumbai,23154,2022-11-1,Economy

In [9]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('DEL','BOM','3','11','2022','Economy')

x4 = pd.DataFrame({})
x4['airlines'] = airlines
x4['departure'] = departure
x4['duration'] = duration
x4['stops'] = stops
x4['from_city'] = 'New Delhi'
x4['to_city'] = to_city
x4['price'] = price
x4['journey_date'] = '2022-11-3'
x4['fclass'] = 'Economy'
x4

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Air India,08:00,2h 10m,Non Stop,New Delhi,Mumbai,2476,2022-11-3,Economy
1,Air India,10:40,2h 10m,Non Stop,New Delhi,Mumbai,2476,2022-11-3,Economy
2,Air India,20:00,2h 10m,Non Stop,New Delhi,Mumbai,2476,2022-11-3,Economy
3,Air India,19:00,2h 15m,Non Stop,New Delhi,Mumbai,2476,2022-11-3,Economy
4,Air India,15:05,3h 10m,1 Stop,New Delhi,Mumbai,2476,2022-11-3,Economy
...,...,...,...,...,...,...,...,...,...
88,Go First,09:15,8h 55m,1 Stop,New Delhi,Mumbai,20689,2022-11-3,Economy
89,Go First,11:30,5h 30m,1 Stop,New Delhi,Mumbai,21964,2022-11-3,Economy
90,Go First,09:55,7h 05m,1 Stop,New Delhi,Mumbai,21964,2022-11-3,Economy
91,Go First,09:00,8h 00m,1 Stop,New Delhi,Mumbai,21964,2022-11-3,Economy
92,Go First,09:10,7h 05m,1 Stop,New Delhi,Mumbai,23154,2022-11-3,Economy

In [10]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('DEL','BOM','5','11','2022','Economy')

x5 = pd.DataFrame({})
x5['airlines'] = airlines
x5['departure'] = departure
x5['duration'] = duration
x5['stops'] = stops
x5['from_city'] = 'New Delhi'
x5['to_city'] = to_city
x5['price'] = price
x5['journey_date'] = '2022-11-5'
x5['fclass'] = 'Economy'
x5

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Air India,08:00,2h 10m,Non Stop,New Delhi,Mumbai,2476,2022-11-5,Economy
1,Air India,10:40,2h 10m,Non Stop,New Delhi,Mumbai,2476,2022-11-5,Economy
2,Air India,20:00,2h 10m,Non Stop,New Delhi,Mumbai,2476,2022-11-5,Economy
3,Air India,19:00,2h 15m,Non Stop,New Delhi,Mumbai,2476,2022-11-5,Economy
4,Air India,15:05,3h 10m,1 Stop,New Delhi,Mumbai,2476,2022-11-5,Economy
...,...,...,...,...,...,...,...,...,...
87,Go First,09:15,8h 55m,1 Stop,New Delhi,Mumbai,20689,2022-11-5,Economy
88,Go First,11:30,5h 30m,1 Stop,New Delhi,Mumbai,21964,2022-11-5,Economy
89,Go First,09:55,7h 05m,1 Stop,New Delhi,Mumbai,21964,2022-11-5,Economy
90,Go First,09:00,8h 00m,1 Stop,New Delhi,Mumbai,21964,2022-11-5,Economy
91,Go First,09:10,7h 05m,1 Stop,New Delhi,Mumbai,23154,2022-11-5,Economy

In [11]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('DEL','BOM','7','11','2022','Economy')

x6 = pd.DataFrame({})
x6['airlines'] = airlines
x6['departure'] = departure
x6['duration'] = duration
x6['stops'] = stops
x6['from_city'] = 'New Delhi'
x6['to_city'] = to_city
x6['price'] = price
x6['journey_date'] = '2022-11-7'
x6['fclass'] = 'Economy'
x6

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Air India,08:00,2h 10m,Non Stop,New Delhi,Mumbai,2476,2022-11-7,Economy
1,Air India,10:40,2h 10m,Non Stop,New Delhi,Mumbai,2476,2022-11-7,Economy
2,Air India,20:00,2h 10m,Non Stop,New Delhi,Mumbai,2476,2022-11-7,Economy
3,Air India,15:05,3h 10m,1 Stop,New Delhi,Mumbai,2476,2022-11-7,Economy
4,Air India,17:50,3h 45m,1 Stop,New Delhi,Mumbai,2476,2022-11-7,Economy
...,...,...,...,...,...,...,...,...,...
91,Go First,09:15,8h 55m,1 Stop,New Delhi,Mumbai,20689,2022-11-7,Economy
92,Go First,11:30,5h 30m,1 Stop,New Delhi,Mumbai,21964,2022-11-7,Economy
93,Go First,09:55,7h 05m,1 Stop,New Delhi,Mumbai,21964,2022-11-7,Economy
94,Go First,09:00,8h 00m,1 Stop,New Delhi,Mumbai,21964,2022-11-7,Economy
95,Go First,09:10,7h 05m,1 Stop,New Delhi,Mumbai,23154,2022-11-7,Economy

In [12]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('DEL','BOM','9','11','2022','Economy')

x7 = pd.DataFrame({})
x7['airlines'] = airlines
x7['departure'] = departure
x7['duration'] = duration
x7['stops'] = stops
x7['from_city'] = 'New Delhi'
x7['to_city'] = to_city
x7['price'] = price
x7['journey_date'] = '2022-11-9'
x7['fclass'] = 'Economy'
x7

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Air India,08:00,2h 10m,Non Stop,New Delhi,Mumbai,2476,2022-11-9,Economy
1,Air India,10:40,2h 10m,Non Stop,New Delhi,Mumbai,2476,2022-11-9,Economy
2,Air India,20:00,2h 10m,Non Stop,New Delhi,Mumbai,2476,2022-11-9,Economy
3,Air India,15:05,3h 10m,1 Stop,New Delhi,Mumbai,2476,2022-11-9,Economy
4,Air India,17:50,3h 45m,1 Stop,New Delhi,Mumbai,2476,2022-11-9,Economy
...,...,...,...,...,...,...,...,...,...
89,Go First,09:15,8h 55m,1 Stop,New Delhi,Mumbai,20689,2022-11-9,Economy
90,Go First,11:30,5h 30m,1 Stop,New Delhi,Mumbai,21964,2022-11-9,Economy
91,Go First,09:55,7h 05m,1 Stop,New Delhi,Mumbai,21964,2022-11-9,Economy
92,Go First,09:00,8h 00m,1 Stop,New Delhi,Mumbai,21964,2022-11-9,Economy
93,Go First,09:10,7h 05m,1 Stop,New Delhi,Mumbai,23154,2022-11-9,Economy

In [13]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('DEL','BOM','11','11','2022','Economy')

x8 = pd.DataFrame({})
x8['airlines'] = airlines
x8['departure'] = departure
x8['duration'] = duration
x8['stops'] = stops
x8['from_city'] = 'New Delhi'
x8['to_city'] = to_city
x8['price'] = price
x8['journey_date'] = '2022-11-11'
x8['fclass'] = 'Economy'
x8

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Air India,08:00,2h 10m,Non Stop,New Delhi,Mumbai,2476,2022-11-11,Economy
1,Air India,20:00,2h 10m,Non Stop,New Delhi,Mumbai,2476,2022-11-11,Economy
2,Air India,19:00,2h 15m,Non Stop,New Delhi,Mumbai,2476,2022-11-11,Economy
3,Air India,15:05,3h 10m,1 Stop,New Delhi,Mumbai,2476,2022-11-11,Economy
4,Air India,17:50,3h 45m,1 Stop,New Delhi,Mumbai,2476,2022-11-11,Economy
...,...,...,...,...,...,...,...,...,...
85,Go First,11:30,5h 30m,1 Stop,New Delhi,Mumbai,21964,2022-11-11,Economy
86,Go First,09:55,7h 05m,1 Stop,New Delhi,Mumbai,21964,2022-11-11,Economy
87,Go First,09:00,8h 00m,1 Stop,New Delhi,Mumbai,21964,2022-11-11,Economy
88,Go First,09:00,6h 55m,1 Stop,New Delhi,Mumbai,22371,2022-11-11,Economy
89,Go First,09:10,7h 05m,1 Stop,New Delhi,Mumbai,23154,2022-11-11,Economy

In [14]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('DEL','BOM','13','11','2022','Economy')

x9 = pd.DataFrame({})
x9['airlines'] = airlines
x9['departure'] = departure
x9['duration'] = duration
x9['stops'] = stops
x9['from_city'] = 'New Delhi'
x9['to_city'] = to_city
x9['price'] = price
x9['journey_date'] = '2022-11-13'
x9['fclass'] = 'Economy'
x9

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Air India,08:00,2h 10m,Non Stop,New Delhi,Mumbai,2476,2022-11-13,Economy
1,Air India,10:40,2h 10m,Non Stop,New Delhi,Mumbai,2476,2022-11-13,Economy
2,Air India,20:00,2h 10m,Non Stop,New Delhi,Mumbai,2476,2022-11-13,Economy
3,Air India,19:00,2h 15m,Non Stop,New Delhi,Mumbai,2476,2022-11-13,Economy
4,Air India,15:05,3h 10m,1 Stop,New Delhi,Mumbai,2476,2022-11-13,Economy
...,...,...,...,...,...,...,...,...,...
83,Go First,11:30,5h 30m,1 Stop,New Delhi,Mumbai,21964,2022-11-13,Economy
84,Go First,09:55,7h 05m,1 Stop,New Delhi,Mumbai,21964,2022-11-13,Economy
85,Go First,09:00,8h 00m,1 Stop,New Delhi,Mumbai,21964,2022-11-13,Economy
86,Go First,09:10,7h 05m,1 Stop,New Delhi,Mumbai,23154,2022-11-13,Economy
87,Go First,12:50,9h 15m,1 Stop,New Delhi,Mumbai,23664,2022-11-13,Economy

In [15]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('DEL','BOM','15','11','2022','Economy')

x10 = pd.DataFrame({})
x10['airlines'] = airlines
x10['departure'] = departure
x10['duration'] = duration
x10['stops'] = stops
x10['from_city'] = 'New Delhi'
x10['to_city'] = to_city
x10['price'] = price
x10['journey_date'] = '2022-11-15'
x10['fclass'] = 'Economy'
x10

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Air India,08:00,2h 10m,Non Stop,New Delhi,Mumbai,2476,2022-11-15,Economy
1,Air India,20:00,2h 10m,Non Stop,New Delhi,Mumbai,2476,2022-11-15,Economy
2,Air India,19:00,2h 15m,Non Stop,New Delhi,Mumbai,2476,2022-11-15,Economy
3,Air India,15:05,3h 10m,1 Stop,New Delhi,Mumbai,2476,2022-11-15,Economy
4,Air India,17:50,3h 45m,1 Stop,New Delhi,Mumbai,2476,2022-11-15,Economy
...,...,...,...,...,...,...,...,...,...
89,Go First,09:15,8h 55m,1 Stop,New Delhi,Mumbai,20689,2022-11-15,Economy
90,Go First,11:30,5h 30m,1 Stop,New Delhi,Mumbai,21964,2022-11-15,Economy
91,Go First,09:55,7h 05m,1 Stop,New Delhi,Mumbai,21964,2022-11-15,Economy
92,Go First,09:00,8h 00m,1 Stop,New Delhi,Mumbai,21964,2022-11-15,Economy
93,Go First,09:10,7h 05m,1 Stop,New Delhi,Mumbai,23154,2022-11-15,Economy

In [16]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('DEL','BOM','28','10','2022','Special')

y1 = pd.DataFrame({})
y1['airlines'] = airlines
y1['departure'] = departure
y1['duration'] = duration
y1['stops'] = stops
y1['from_city'] = 'New Delhi'
y1['to_city'] = to_city
y1['price'] = price
y1['journey_date'] = '2022-10-28'
y1['fclass'] = 'Special'
y1

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Vistara Premium Economy,06:00,2h 00m,Non Stop,New Delhi,Mumbai,6942,2022-10-28,Special
1,Vistara Premium Economy,09:30,2h 05m,Non Stop,New Delhi,Mumbai,6942,2022-10-28,Special
2,Vistara Premium Economy,12:50,2h 10m,Non Stop,New Delhi,Mumbai,6942,2022-10-28,Special
3,Vistara Premium Economy,15:30,2h 10m,Non Stop,New Delhi,Mumbai,6942,2022-10-28,Special
4,Vistara Premium Economy,19:50,2h 10m,Non Stop,New Delhi,Mumbai,6942,2022-10-28,Special
5,Vistara Premium Economy,20:40,2h 10m,Non Stop,New Delhi,Mumbai,6942,2022-10-28,Special
6,Vistara Premium Economy,21:40,2h 10m,Non Stop,New Delhi,Mumbai,6942,2022-10-28,Special
7,Vistara Premium Economy,07:30,2h 15m,Non Stop,New Delhi,Mumbai,6942,2022-10-28,Special
8,Vistara Premium Economy,10:20,2h 15m,Non Stop,New Delhi,Mumbai,6942,2022-10-28,Special
9,Vistara Premium Economy,08:50,2h 20m,Non Stop,New Delhi,Mumbai,6942,2022-10-28,Special
10,Vistara Premium Economy,11:40,2h 20m,Non Stop,New Delhi,Mumbai,6942,2022-10-28,Special
11,Vistara Premium Economy,16:45,2h 20m,Non Stop,New Delhi,Mumbai,6942,2022-10-28,Special
12,Vistara Premium Economy,17:45,2h 20m,Non Stop,New Delhi,Mumbai,6942,2022-10-28,Special
13,Vistara Premium Economy,18:55,2h 20m,Non Stop,New Delhi,Mumbai,6942,2022-10-28,Special
14,Vistara Premium Economy,17:10,4h 25m,1 Stop,New Delhi,Mumbai,10526,2022-10-28,Special
15,Vistara Premium Economy,13:40,7h 55m,1 Stop,New Delhi,Mumbai,10526,2022-10-28,Special
16,Vistara Premium Economy,17:10,18h 20m,1 Stop,New Delhi,Mumbai,10526,2022-10-28,Special
17,Vistara Premium Economy,13:40,21h 50m,1 Stop,New Delhi,Mumbai,10526,2022-10-28,Special
18,Vistara Premium Economy,13:20,26h 40m,1 Stop,New Delhi,Mumbai,11366,2022-10-28,Special
19,Vistara Premium Economy,17:40,5h 20m,1 Stop,New Delhi,Mumbai,11422,2022-10-28,Special
20,Vistara Premium Economy,07:05,7h 25m,1 Stop,New Delhi,Mumbai,11422,2022-10-28,Special
21,Vistara Premium Economy,14:45,8h 15m,1 Stop,New Delhi,Mumbai,11422,2022-10-28,Special
22,Vistara Premium Economy,20:35,13h 25m,1 Stop,New Delhi,Mumbai,11422,2022-10-28,Special
23,Vistara Premium Economy,07:05,15h 55m,1 Stop,New Delhi,Mumbai,11422,2022-10-28,Special
24,Vistara Premium Economy,17:40,16h 20m,1 Stop,New Delhi,Mumbai,11422,2022-10-28,Special
25,Vistara Premium Economy,20:35,17h 55m,1 Stop,New Delhi,Mumbai,11422,2022-10-28,Special
26,Vistara Premium Economy,14:45,19h 15m,1 Stop,New Delhi,Mumbai,11422,2022-10-28,Special
27,Vistara Premium Economy,17:40,20h 50m,1 Stop,New Delhi,Mumbai,11422,2022-10-28,Special
28,Vistara Premium Economy,14:45,23h 45m,1 Stop,New Delhi,Mumbai,11422,2022-10-28,Special
29,Vistara Premium Economy,20:35,26h 25m,1 Stop,New Delhi,Mumbai,11422,2022-10-28,Special
30,Vistara Premium Economy,07:05,26h 55m,1 Stop,New Delhi,Mumbai,11422,2022-10-28,Special
31,Vistara Premium Economy,13:20,5h 00m,1 Stop,New Delhi,Mumbai,12318,2022-10-28,Special
32,Vistara Premium Economy,16:15,26h 05m,1 Stop,New Delhi,Mumbai,12318,2022-10-28,Special
33,Vistara Premium Economy,16:05,5h 45m,1 Stop,New Delhi,Mumbai,15146,2022-10-28,Special
34,Vistara Premium Economy,17:35,5h 50m,1 Stop,New Delhi,Mumbai,15146,2022-10-28,Special
35,Vistara Premium Economy,14:15,6h 00m,1 Stop,New Delhi,Mumbai,15146,2022-10-28,Special
36,Vistara Premium Economy,14:15,6h 30m,1 Stop,New Delhi,Mumbai,15146,2022-10-28,Special
37,Vistara Premium Economy,16:05,7h 20m,1 Stop,New Delhi,Mumbai,15146,2022-10-28,Special
38,Vistara Premium Economy,14:15,7h 35m,1 Stop,New Delhi,Mumbai,15146,2022-10-28,Special
39,Vistara Premium Economy,14:15,9h 10m,1 Stop,New Delhi,Mumbai,15146,2022-10-28,Special
40,Vistara Premium Economy,20:40,11h 35m,1 Stop,New Delhi,Mumbai,15146,2022-10-28,Special
41,Vistara Premium Economy,08:05,12h 10m,1 Stop,New Delhi,Mumbai,15146,2022-10-28,Special
42,Vistara Premium Economy,19:50,12h 25m,1 Stop,New Delhi,Mumbai,15146,2022-10-28,Special
43,Vistara Premium Economy,08:05,12h 40m,1 Stop,New Delhi,Mumbai,15146,2022-10-28,Special
44,Vistara Premium Economy,20:40,13h 35m,1 Stop,New Delhi,Mumbai,15146,2022-10-28,Special
45,Vistara Premium Economy,08:05,13h 45m,1 Stop,New Delhi,Mumbai,15146,2022-10-28,Special
46,Vistara Premium Economy,06:15,14h 00m,1 Stop,New Delhi,Mumbai,15146,2022-10-28,Special
47,Vistara Premium Economy,19:50,14h 25m,1 Stop,New Delhi,Mumbai,15146,2022-10-28,Special
48,Vistara Premium Economy,06:15,14h 30m,1 Stop,New Delhi,Mumbai,15146,2022-10-28,Special
49,Vistara Premium Economy,17:35,14h 40m,1 Stop,New Delhi,Mumbai,15146,2022-10-28,Special
50,Vistara Premium Economy,20:40,14h 45m,1 Stop,New Delhi,Mumbai,15146,2022-10-28,Special
51,Vistara Premium Economy,08:05,15h 20m,1 Stop,New Delhi,Mumbai,15146,2022-10-28,Special
52,Vistara Premium Economy,06:15,15h 35m,1 Stop,New Delhi,Mumbai,15146,2022-10-28,Special
53,Vistara Premium Economy,19:50,15h 35m,1 Stop,New Delhi,Mumbai,15146,2022-10-28,Special
54,Vistara Premium Economy,16:05,16h 10m,1 Stop,New Delhi,Mumbai,15146,2022-10-28,Special
55,Vistara Premium Economy,17:35,16h 40m,1 Stop,New Delhi,Mumbai,15146,2022-10-28,Special
56,Vistara Premium Economy,06:15,17h 10m,1 Stop,New Delhi,Mumbai,15146,2022-10-28,Special
57,Vistara Premium Economy,17:35,17h 50m,1 Stop,New Delhi,Mumbai,15146,2022-10-28,Special
58,Vistara Premium Economy,14:15,18h 00m,1 Stop,New Delhi,Mumbai,15146,2022-10-28,Special
59,Vistara Premium Economy,11:10,27h 35m,1 Stop,New Delhi,Mumbai,17358,2022-10-28,Special

In [17]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('DEL','BOM','30','10','2022','Special')

y2 = pd.DataFrame({})
y2['airlines'] = airlines
y2['departure'] = departure
y2['duration'] = duration
y2['stops'] = stops
y2['from_city'] = 'New Delhi'
y2['to_city'] = to_city
y2['price'] = price
y2['journey_date'] = '2022-10-30'
y2['fclass'] = 'Special'
y2

Empty DataFrame
Columns: [airlines, departure, duration, stops, from_city, to_city, price, journey_date, fclass]
Index: []

In [18]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('DEL','BOM','2','11','2022','Special')

y3 = pd.DataFrame({})
y3['airlines'] = airlines
y3['departure'] = departure
y3['duration'] = duration
y3['stops'] = stops
y3['from_city'] = 'New Delhi'
y3['to_city'] = to_city
y3['price'] = price
y3['journey_date'] = '2022-11-2'
y3['fclass'] = 'Special'
y3

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Vistara Premium Economy,06:00,2h 00m,Non Stop,New Delhi,Mumbai,6942,2022-11-2,Special
1,Vistara Premium Economy,12:50,2h 10m,Non Stop,New Delhi,Mumbai,6942,2022-11-2,Special
2,Vistara Premium Economy,15:30,2h 10m,Non Stop,New Delhi,Mumbai,6942,2022-11-2,Special
3,Vistara Premium Economy,21:40,2h 10m,Non Stop,New Delhi,Mumbai,6942,2022-11-2,Special
4,Vistara Premium Economy,07:30,2h 15m,Non Stop,New Delhi,Mumbai,6942,2022-11-2,Special
5,Vistara Premium Economy,10:20,2h 15m,Non Stop,New Delhi,Mumbai,6942,2022-11-2,Special
6,Vistara Premium Economy,08:50,2h 20m,Non Stop,New Delhi,Mumbai,6942,2022-11-2,Special
7,Vistara Premium Economy,11:40,2h 20m,Non Stop,New Delhi,Mumbai,6942,2022-11-2,Special
8,Vistara Premium Economy,17:45,2h 20m,Non Stop,New Delhi,Mumbai,6942,2022-11-2,Special
9,Vistara Premium Economy,18:55,2h 20m,Non Stop,New Delhi,Mumbai,6942,2022-11-2,Special

In [19]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('DEL','BOM','4','11','2022','Special')

y4 = pd.DataFrame({})
y4['airlines'] = airlines
y4['departure'] = departure
y4['duration'] = duration
y4['stops'] = stops
y4['from_city'] = 'New Delhi'
y4['to_city'] = to_city
y4['price'] = price
y4['journey_date'] = '2022-11-4'
y4['fclass'] = 'Special'
y4

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Vistara Premium Economy,06:00,2h 00m,Non Stop,New Delhi,Mumbai,6942,2022-11-4,Special
1,Vistara Premium Economy,12:50,2h 10m,Non Stop,New Delhi,Mumbai,6942,2022-11-4,Special
2,Vistara Premium Economy,15:30,2h 10m,Non Stop,New Delhi,Mumbai,6942,2022-11-4,Special
3,Vistara Premium Economy,21:40,2h 10m,Non Stop,New Delhi,Mumbai,6942,2022-11-4,Special
4,Vistara Premium Economy,07:30,2h 15m,Non Stop,New Delhi,Mumbai,6942,2022-11-4,Special
5,Vistara Premium Economy,10:20,2h 15m,Non Stop,New Delhi,Mumbai,6942,2022-11-4,Special
6,Vistara Premium Economy,08:50,2h 20m,Non Stop,New Delhi,Mumbai,6942,2022-11-4,Special
7,Vistara Premium Economy,11:40,2h 20m,Non Stop,New Delhi,Mumbai,6942,2022-11-4,Special
8,Vistara Premium Economy,17:45,2h 20m,Non Stop,New Delhi,Mumbai,6942,2022-11-4,Special
9,Vistara Premium Economy,18:55,2h 20m,Non Stop,New Delhi,Mumbai,6942,2022-11-4,Special

In [20]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('DEL','BOM','6','11','2022','Special')

y5 = pd.DataFrame({})
y5['airlines'] = airlines
y5['departure'] = departure
y5['duration'] = duration
y5['stops'] = stops
y5['from_city'] = 'New Delhi'
y5['to_city'] = to_city
y5['price'] = price
y5['journey_date'] = '2022-11-6'
y5['fclass'] = 'Special'
y5

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Vistara Premium Economy,12:50,2h 10m,Non Stop,New Delhi,Mumbai,6942,2022-11-6,Special
1,Vistara Premium Economy,15:30,2h 10m,Non Stop,New Delhi,Mumbai,6942,2022-11-6,Special
2,Vistara Premium Economy,21:40,2h 10m,Non Stop,New Delhi,Mumbai,6942,2022-11-6,Special
3,Vistara Premium Economy,10:20,2h 15m,Non Stop,New Delhi,Mumbai,6942,2022-11-6,Special
4,Vistara Premium Economy,08:50,2h 20m,Non Stop,New Delhi,Mumbai,6942,2022-11-6,Special
5,Vistara Premium Economy,11:40,2h 20m,Non Stop,New Delhi,Mumbai,6942,2022-11-6,Special
6,Vistara Premium Economy,17:45,2h 20m,Non Stop,New Delhi,Mumbai,6942,2022-11-6,Special
7,Vistara Premium Economy,18:55,2h 20m,Non Stop,New Delhi,Mumbai,6942,2022-11-6,Special

In [21]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('DEL','BOM','8','11','2022','Special')

y6 = pd.DataFrame({})
y6['airlines'] = airlines
y6['departure'] = departure
y6['duration'] = duration
y6['stops'] = stops
y6['from_city'] = 'New Delhi'
y6['to_city'] = to_city
y6['price'] = price
y6['journey_date'] = '2022-11-8'
y6['fclass'] = 'Special'
y6

Empty DataFrame
Columns: [airlines, departure, duration, stops, from_city, to_city, price, journey_date, fclass]
Index: []

In [22]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('DEL','BOM','10','11','2022','Special')

y7 = pd.DataFrame({})
y7['airlines'] = airlines
y7['departure'] = departure
y7['duration'] = duration
y7['stops'] = stops
y7['from_city'] = 'New Delhi'
y7['to_city'] = to_city
y7['price'] = price
y7['journey_date'] = '2022-11-10'
y7['fclass'] = 'Special'
y7

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Vistara Premium Economy,06:00,2h 00m,Non Stop,New Delhi,Mumbai,6942,2022-11-10,Special
1,Vistara Premium Economy,12:50,2h 10m,Non Stop,New Delhi,Mumbai,6942,2022-11-10,Special
2,Vistara Premium Economy,15:30,2h 10m,Non Stop,New Delhi,Mumbai,6942,2022-11-10,Special
3,Vistara Premium Economy,21:40,2h 10m,Non Stop,New Delhi,Mumbai,6942,2022-11-10,Special
4,Vistara Premium Economy,07:30,2h 15m,Non Stop,New Delhi,Mumbai,6942,2022-11-10,Special
5,Vistara Premium Economy,10:20,2h 15m,Non Stop,New Delhi,Mumbai,6942,2022-11-10,Special
6,Vistara Premium Economy,08:50,2h 20m,Non Stop,New Delhi,Mumbai,6942,2022-11-10,Special
7,Vistara Premium Economy,11:40,2h 20m,Non Stop,New Delhi,Mumbai,6942,2022-11-10,Special
8,Vistara Premium Economy,17:45,2h 20m,Non Stop,New Delhi,Mumbai,6942,2022-11-10,Special
9,Vistara Premium Economy,18:55,2h 20m,Non Stop,New Delhi,Mumbai,6942,2022-11-10,Special

In [23]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('DEL','BOM','12','11','2022','Special')

y8 = pd.DataFrame({})
y8['airlines'] = airlines
y8['departure'] = departure
y8['duration'] = duration
y8['stops'] = stops
y8['from_city'] = 'New Delhi'
y8['to_city'] = to_city
y8['price'] = price
y8['journey_date'] = '2022-11-12'
y8['fclass'] = 'Special'
y8

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Vistara Premium Economy,06:00,2h 00m,Non Stop,New Delhi,Mumbai,6942,2022-11-12,Special
1,Vistara Premium Economy,12:50,2h 10m,Non Stop,New Delhi,Mumbai,6942,2022-11-12,Special
2,Vistara Premium Economy,15:30,2h 10m,Non Stop,New Delhi,Mumbai,6942,2022-11-12,Special
3,Vistara Premium Economy,21:40,2h 10m,Non Stop,New Delhi,Mumbai,6942,2022-11-12,Special
4,Vistara Premium Economy,10:20,2h 15m,Non Stop,New Delhi,Mumbai,6942,2022-11-12,Special
5,Vistara Premium Economy,08:50,2h 20m,Non Stop,New Delhi,Mumbai,6942,2022-11-12,Special
6,Vistara Premium Economy,11:40,2h 20m,Non Stop,New Delhi,Mumbai,6942,2022-11-12,Special
7,Vistara Premium Economy,17:45,2h 20m,Non Stop,New Delhi,Mumbai,6942,2022-11-12,Special
8,Vistara Premium Economy,18:55,2h 20m,Non Stop,New Delhi,Mumbai,6942,2022-11-12,Special

In [24]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('DEL','BOM','14','11','2022','Special')

y9 = pd.DataFrame({})
y9['airlines'] = airlines
y9['departure'] = departure
y9['duration'] = duration
y9['stops'] = stops
y9['from_city'] = 'New Delhi'
y9['to_city'] = to_city
y9['price'] = price
y9['journey_date'] = '2022-11-14'
y9['fclass'] = 'Special'
y9

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Vistara Premium Economy,06:00,2h 00m,Non Stop,New Delhi,Mumbai,6942,2022-11-14,Special
1,Vistara Premium Economy,12:50,2h 10m,Non Stop,New Delhi,Mumbai,6942,2022-11-14,Special
2,Vistara Premium Economy,15:30,2h 10m,Non Stop,New Delhi,Mumbai,6942,2022-11-14,Special
3,Vistara Premium Economy,21:40,2h 10m,Non Stop,New Delhi,Mumbai,6942,2022-11-14,Special
4,Vistara Premium Economy,07:30,2h 15m,Non Stop,New Delhi,Mumbai,6942,2022-11-14,Special
5,Vistara Premium Economy,10:20,2h 15m,Non Stop,New Delhi,Mumbai,6942,2022-11-14,Special
6,Vistara Premium Economy,08:50,2h 20m,Non Stop,New Delhi,Mumbai,6942,2022-11-14,Special
7,Vistara Premium Economy,11:40,2h 20m,Non Stop,New Delhi,Mumbai,6942,2022-11-14,Special
8,Vistara Premium Economy,17:45,2h 20m,Non Stop,New Delhi,Mumbai,6942,2022-11-14,Special
9,Vistara Premium Economy,18:55,2h 20m,Non Stop,New Delhi,Mumbai,6942,2022-11-14,Special

In [25]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('DEL','BOM','28','10','2022','Business')

z1 = pd.DataFrame({})
z1['airlines'] = airlines
z1['departure'] = departure
z1['duration'] = duration
z1['stops'] = stops
z1['from_city'] = 'New Delhi'
z1['to_city'] = to_city
z1['price'] = price
z1['journey_date'] = '2022-10-28'
z1['fclass'] = 'Business'
z1

Empty DataFrame
Columns: [airlines, departure, duration, stops, from_city, to_city, price, journey_date, fclass]
Index: []

In [26]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('DEL','BOM','30','10','2022','Business')

z2 = pd.DataFrame({})
z2['airlines'] = airlines
z2['departure'] = departure
z2['duration'] = duration
z2['stops'] = stops
z2['from_city'] = 'New Delhi'
z2['to_city'] = to_city
z2['price'] = price
z2['journey_date'] = '2022-10-30'
z2['fclass'] = 'Business'
z2

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Air India Business,08:00,2h 10m,Non Stop,New Delhi,Mumbai,22152,2022-10-30,Business
1,Air India Business,10:40,2h 10m,Non Stop,New Delhi,Mumbai,22152,2022-10-30,Business
2,Air India Business,20:00,2h 10m,Non Stop,New Delhi,Mumbai,22152,2022-10-30,Business
3,Air India Business,19:00,2h 15m,Non Stop,New Delhi,Mumbai,22152,2022-10-30,Business
4,Air India Business,15:05,3h 10m,1 Stop,New Delhi,Mumbai,22152,2022-10-30,Business
5,Air India Business,17:50,3h 45m,1 Stop,New Delhi,Mumbai,22152,2022-10-30,Business
6,Vistara Business,11:40,2h 20m,Non Stop,New Delhi,Mumbai,28872,2022-10-30,Business
7,Air India Business,12:00,3h 50m,1 Stop,New Delhi,Mumbai,29622,2022-10-30,Business
8,Air India Business,20:00,13h 40m,1 Stop,New Delhi,Mumbai,29776,2022-10-30,Business
9,Air India Business,08:40,14h 45m,1 Stop,New Delhi,Mumbai,29776,2022-10-30,Business
10,Air India Business,12:55,24h 40m,1 Stop,New Delhi,Mumbai,29776,2022-10-30,Business
11,Air India Business,08:40,25h 00m,1 Stop,New Delhi,Mumbai,29776,2022-10-30,Business
12,Air India Business,16:45,4h 30m,1 Stop,New Delhi,Mumbai,31462,2022-10-30,Business
13,Air India Business,23:30,9h 50m,1 Stop,New Delhi,Mumbai,32621,2022-10-30,Business
14,Air India Business,23:30,23h 35m,1 Stop,New Delhi,Mumbai,32621,2022-10-30,Business
15,Air India Business,07:05,6h 20m,1 Stop,New Delhi,Mumbai,32646,2022-10-30,Business
16,Air India Business,18:30,18h 55m,1 Stop,New Delhi,Mumbai,32646,2022-10-30,Business
17,Vistara Business,12:50,2h 10m,Non Stop,New Delhi,Mumbai,34472,2022-10-30,Business
18,Vistara Business,21:40,2h 10m,Non Stop,New Delhi,Mumbai,34472,2022-10-30,Business
19,Vistara Business,10:20,2h 15m,Non Stop,New Delhi,Mumbai,34472,2022-10-30,Business
20,Air India Business,21:15,16h 30m,1 Stop,New Delhi,Mumbai,35532,2022-10-30,Business
21,Vistara Business,08:50,2h 20m,Non Stop,New Delhi,Mumbai,36712,2022-10-30,Business
22,Vistara Business,17:45,2h 20m,Non Stop,New Delhi,Mumbai,36712,2022-10-30,Business
23,Vistara Business,18:55,2h 20m,Non Stop,New Delhi,Mumbai,36712,2022-10-30,Business
24,Air India Business,13:20,4h 30m,1 Stop,New Delhi,Mumbai,37256,2022-10-30,Business
25,Air India Business,16:45,23h 40m,2 Stop(s),New Delhi,Mumbai,37900,2022-10-30,Business
26,Air India Business,15:00,25h 25m,1 Stop,New Delhi,Mumbai,39622,2022-10-30,Business
27,Air India Business,18:40,22h 30m,1 Stop,New Delhi,Mumbai,39859,2022-10-30,Business
28,Air India Business,21:10,10h 00m,1 Stop,New Delhi,Mumbai,41113,2022-10-30,Business
29,Air India Business,09:45,13h 35m,1 Stop,New Delhi,Mumbai,41113,2022-10-30,Business
30,Air India Business,07:05,16h 15m,1 Stop,New Delhi,Mumbai,41113,2022-10-30,Business
31,Air India Business,09:45,21h 25m,1 Stop,New Delhi,Mumbai,41113,2022-10-30,Business
32,Air India Business,07:05,24h 05m,1 Stop,New Delhi,Mumbai,41113,2022-10-30,Business
33,Air India Business,21:10,26h 10m,1 Stop,New Delhi,Mumbai,41113,2022-10-30,Business
34,Vistara Business,15:30,2h 10m,Non Stop,New Delhi,Mumbai,42424,2022-10-30,Business
35,Air India Business,10:15,5h 25m,1 Stop,New Delhi,Mumbai,44025,2022-10-30,Business
36,Air India Business,12:10,27h 30m,2 Stop(s),New Delhi,Mumbai,44025,2022-10-30,Business
37,Air India Business,22:00,10h 10m,1 Stop,New Delhi,Mumbai,47217,2022-10-30,Business
38,Air India Business,22:00,26h 35m,1 Stop,New Delhi,Mumbai,47217,2022-10-30,Business
39,Air India Business,14:10,8h 15m,1 Stop,New Delhi,Mumbai,49896,2022-10-30,Business

In [27]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('DEL','BOM','2','11','2022','Business')

z3 = pd.DataFrame({})
z3['airlines'] = airlines
z3['departure'] = departure
z3['duration'] = duration
z3['stops'] = stops
z3['from_city'] = 'New Delhi'
z3['to_city'] = to_city
z3['price'] = price
z3['journey_date'] = '2022-11-2'
z3['fclass'] = 'Business'
z3

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Air India Business,08:00,2h 10m,Non Stop,New Delhi,Mumbai,22152,2022-11-2,Business
1,Air India Business,10:40,2h 10m,Non Stop,New Delhi,Mumbai,22152,2022-11-2,Business
2,Air India Business,20:00,2h 10m,Non Stop,New Delhi,Mumbai,22152,2022-11-2,Business
3,Air India Business,15:05,3h 10m,1 Stop,New Delhi,Mumbai,22152,2022-11-2,Business
4,Air India Business,17:50,3h 45m,1 Stop,New Delhi,Mumbai,22152,2022-11-2,Business
5,Vistara Business,11:40,2h 20m,Non Stop,New Delhi,Mumbai,28872,2022-11-2,Business
6,Air India Business,12:00,3h 50m,1 Stop,New Delhi,Mumbai,29622,2022-11-2,Business
7,Air India Business,12:55,24h 40m,1 Stop,New Delhi,Mumbai,29776,2022-11-2,Business
8,Air India Business,16:45,5h 30m,1 Stop,New Delhi,Mumbai,31462,2022-11-2,Business
9,Air India Business,23:30,9h 50m,1 Stop,New Delhi,Mumbai,32621,2022-11-2,Business
10,Air India Business,23:30,23h 35m,1 Stop,New Delhi,Mumbai,32621,2022-11-2,Business
11,Air India Business,07:05,6h 20m,1 Stop,New Delhi,Mumbai,32646,2022-11-2,Business
12,Air India Business,18:30,18h 55m,1 Stop,New Delhi,Mumbai,32646,2022-11-2,Business
13,Vistara Business,06:00,2h 00m,Non Stop,New Delhi,Mumbai,34472,2022-11-2,Business
14,Vistara Business,12:50,2h 10m,Non Stop,New Delhi,Mumbai,34472,2022-11-2,Business
15,Vistara Business,21:40,2h 10m,Non Stop,New Delhi,Mumbai,34472,2022-11-2,Business
16,Vistara Business,10:20,2h 15m,Non Stop,New Delhi,Mumbai,34472,2022-11-2,Business
17,Air India Business,04:55,8h 50m,1 Stop,New Delhi,Mumbai,35532,2022-11-2,Business
18,Air India Business,21:15,16h 30m,1 Stop,New Delhi,Mumbai,35532,2022-11-2,Business
19,Vistara Business,07:30,2h 15m,Non Stop,New Delhi,Mumbai,36712,2022-11-2,Business
20,Vistara Business,08:50,2h 20m,Non Stop,New Delhi,Mumbai,36712,2022-11-2,Business
21,Vistara Business,17:45,2h 20m,Non Stop,New Delhi,Mumbai,36712,2022-11-2,Business
22,Vistara Business,18:55,2h 20m,Non Stop,New Delhi,Mumbai,36712,2022-11-2,Business
23,Air India Business,13:20,4h 30m,1 Stop,New Delhi,Mumbai,37256,2022-11-2,Business
24,Air India Business,16:45,23h 40m,2 Stop(s),New Delhi,Mumbai,37900,2022-11-2,Business
25,Air India Business,15:00,8h 40m,1 Stop,New Delhi,Mumbai,39622,2022-11-2,Business
26,Air India Business,15:00,25h 25m,1 Stop,New Delhi,Mumbai,39622,2022-11-2,Business
27,Air India Business,18:40,22h 30m,1 Stop,New Delhi,Mumbai,39859,2022-11-2,Business
28,Air India Business,16:45,24h 30m,1 Stop,New Delhi,Mumbai,40447,2022-11-2,Business
29,Air India Business,13:45,27h 30m,1 Stop,New Delhi,Mumbai,40447,2022-11-2,Business
30,Air India Business,21:10,12h 30m,1 Stop,New Delhi,Mumbai,41113,2022-11-2,Business
31,Air India Business,09:45,13h 35m,1 Stop,New Delhi,Mumbai,41113,2022-11-2,Business
32,Air India Business,07:05,16h 15m,1 Stop,New Delhi,Mumbai,41113,2022-11-2,Business
33,Air India Business,09:45,23h 55m,1 Stop,New Delhi,Mumbai,41113,2022-11-2,Business
34,Air India Business,07:05,26h 35m,1 Stop,New Delhi,Mumbai,41113,2022-11-2,Business
35,Vistara Business,15:30,2h 10m,Non Stop,New Delhi,Mumbai,42424,2022-11-2,Business
36,Air India Business,10:15,5h 25m,1 Stop,New Delhi,Mumbai,44025,2022-11-2,Business
37,Air India Business,22:00,10h 10m,1 Stop,New Delhi,Mumbai,47217,2022-11-2,Business
38,Air India Business,22:00,26h 35m,1 Stop,New Delhi,Mumbai,47217,2022-11-2,Business
39,Air India Business,14:10,8h 15m,1 Stop,New Delhi,Mumbai,49896,2022-11-2,Business

In [28]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('DEL','BOM','5','11','2022','Business')

z4 = pd.DataFrame({})
z4['airlines'] = airlines
z4['departure'] = departure
z4['duration'] = duration
z4['stops'] = stops
z4['from_city'] = 'New Delhi'
z4['to_city'] = to_city
z4['price'] = price
z4['journey_date'] = '2022-11-5'
z4['fclass'] = 'Business'
z4

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Air India Business,08:00,2h 10m,Non Stop,New Delhi,Mumbai,22152,2022-11-5,Business
1,Air India Business,10:40,2h 10m,Non Stop,New Delhi,Mumbai,22152,2022-11-5,Business
2,Air India Business,20:00,2h 10m,Non Stop,New Delhi,Mumbai,22152,2022-11-5,Business
3,Air India Business,19:00,2h 15m,Non Stop,New Delhi,Mumbai,22152,2022-11-5,Business
4,Air India Business,15:05,3h 10m,1 Stop,New Delhi,Mumbai,22152,2022-11-5,Business
5,Air India Business,17:50,3h 45m,1 Stop,New Delhi,Mumbai,22152,2022-11-5,Business
6,Vistara Business,11:40,2h 20m,Non Stop,New Delhi,Mumbai,28872,2022-11-5,Business
7,Air India Business,12:00,3h 50m,1 Stop,New Delhi,Mumbai,29622,2022-11-5,Business
8,Air India Business,20:00,13h 40m,1 Stop,New Delhi,Mumbai,29776,2022-11-5,Business
9,Air India Business,12:55,24h 40m,1 Stop,New Delhi,Mumbai,29776,2022-11-5,Business
10,Air India Business,16:45,5h 30m,1 Stop,New Delhi,Mumbai,31462,2022-11-5,Business
11,Air India Business,23:30,9h 50m,1 Stop,New Delhi,Mumbai,32621,2022-11-5,Business
12,Air India Business,23:30,23h 35m,1 Stop,New Delhi,Mumbai,32621,2022-11-5,Business
13,Air India Business,07:05,6h 20m,1 Stop,New Delhi,Mumbai,32646,2022-11-5,Business
14,Air India Business,18:30,18h 55m,1 Stop,New Delhi,Mumbai,32646,2022-11-5,Business
15,Vistara Business,12:50,2h 10m,Non Stop,New Delhi,Mumbai,34472,2022-11-5,Business
16,Vistara Business,15:30,2h 10m,Non Stop,New Delhi,Mumbai,34472,2022-11-5,Business
17,Vistara Business,21:40,2h 10m,Non Stop,New Delhi,Mumbai,34472,2022-11-5,Business
18,Vistara Business,10:20,2h 15m,Non Stop,New Delhi,Mumbai,34472,2022-11-5,Business
19,Air India Business,04:55,8h 50m,1 Stop,New Delhi,Mumbai,35532,2022-11-5,Business
20,Vistara Business,08:50,2h 20m,Non Stop,New Delhi,Mumbai,36712,2022-11-5,Business
21,Vistara Business,17:45,2h 20m,Non Stop,New Delhi,Mumbai,36712,2022-11-5,Business
22,Vistara Business,18:55,2h 20m,Non Stop,New Delhi,Mumbai,36712,2022-11-5,Business
23,Air India Business,13:20,4h 30m,1 Stop,New Delhi,Mumbai,37256,2022-11-5,Business
24,Air India Business,16:45,23h 40m,2 Stop(s),New Delhi,Mumbai,37900,2022-11-5,Business
25,Air India Business,05:30,10h 55m,1 Stop,New Delhi,Mumbai,39622,2022-11-5,Business
26,Air India Business,15:00,25h 25m,1 Stop,New Delhi,Mumbai,39622,2022-11-5,Business
27,Air India Business,18:40,22h 30m,1 Stop,New Delhi,Mumbai,39859,2022-11-5,Business
28,Air India Business,16:45,24h 30m,1 Stop,New Delhi,Mumbai,40447,2022-11-5,Business
29,Air India Business,13:45,27h 30m,1 Stop,New Delhi,Mumbai,40447,2022-11-5,Business
30,Air India Business,21:10,10h 00m,1 Stop,New Delhi,Mumbai,41113,2022-11-5,Business
31,Air India Business,21:10,12h 30m,1 Stop,New Delhi,Mumbai,41113,2022-11-5,Business
32,Air India Business,09:45,21h 25m,1 Stop,New Delhi,Mumbai,41113,2022-11-5,Business
33,Air India Business,09:45,23h 55m,1 Stop,New Delhi,Mumbai,41113,2022-11-5,Business
34,Air India Business,07:05,24h 05m,1 Stop,New Delhi,Mumbai,41113,2022-11-5,Business
35,Air India Business,21:10,26h 10m,1 Stop,New Delhi,Mumbai,41113,2022-11-5,Business
36,Air India Business,07:05,26h 35m,1 Stop,New Delhi,Mumbai,41113,2022-11-5,Business
37,Vistara Business,06:00,2h 00m,Non Stop,New Delhi,Mumbai,42424,2022-11-5,Business
38,Air India Business,12:10,27h 30m,2 Stop(s),New Delhi,Mumbai,44025,2022-11-5,Business
39,Air India Business,22:00,10h 10m,1 Stop,New Delhi,Mumbai,47217,2022-11-5,Business

In [29]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('DEL','BOM','8','11','2022','Business')

z5 = pd.DataFrame({})
z5['airlines'] = airlines
z5['departure'] = departure
z5['duration'] = duration
z5['stops'] = stops
z5['from_city'] = 'New Delhi'
z5['to_city'] = to_city
z5['price'] = price
z5['journey_date'] = '2022-11-8'
z5['fclass'] = 'Business'
z5

Empty DataFrame
Columns: [airlines, departure, duration, stops, from_city, to_city, price, journey_date, fclass]
Index: []

In [30]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('DEL','BOM','11','11','2022','Business')

z6 = pd.DataFrame({})
z6['airlines'] = airlines
z6['departure'] = departure
z6['duration'] = duration
z6['stops'] = stops
z6['from_city'] = 'New Delhi'
z6['to_city'] = to_city
z6['price'] = price
z6['journey_date'] = '2022-11-11'
z6['fclass'] = 'Business'
z6

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Air India Business,08:00,2h 10m,Non Stop,New Delhi,Mumbai,22152,2022-11-11,Business
1,Air India Business,10:40,2h 10m,Non Stop,New Delhi,Mumbai,22152,2022-11-11,Business
2,Air India Business,20:00,2h 10m,Non Stop,New Delhi,Mumbai,22152,2022-11-11,Business
3,Air India Business,19:00,2h 15m,Non Stop,New Delhi,Mumbai,22152,2022-11-11,Business
4,Air India Business,15:05,3h 10m,1 Stop,New Delhi,Mumbai,22152,2022-11-11,Business
5,Air India Business,17:50,3h 45m,1 Stop,New Delhi,Mumbai,22152,2022-11-11,Business
6,Vistara Business,11:40,2h 20m,Non Stop,New Delhi,Mumbai,28872,2022-11-11,Business
7,Air India Business,12:00,3h 50m,1 Stop,New Delhi,Mumbai,29622,2022-11-11,Business
8,Air India Business,08:40,14h 45m,1 Stop,New Delhi,Mumbai,29776,2022-11-11,Business
9,Air India Business,16:45,4h 30m,1 Stop,New Delhi,Mumbai,31462,2022-11-11,Business
10,Air India Business,07:05,6h 20m,1 Stop,New Delhi,Mumbai,32646,2022-11-11,Business
11,Air India Business,18:30,18h 55m,1 Stop,New Delhi,Mumbai,32646,2022-11-11,Business
12,Vistara Business,06:00,2h 00m,Non Stop,New Delhi,Mumbai,34472,2022-11-11,Business
13,Vistara Business,12:50,2h 10m,Non Stop,New Delhi,Mumbai,34472,2022-11-11,Business
14,Vistara Business,15:30,2h 10m,Non Stop,New Delhi,Mumbai,34472,2022-11-11,Business
15,Vistara Business,21:40,2h 10m,Non Stop,New Delhi,Mumbai,34472,2022-11-11,Business
16,Vistara Business,10:20,2h 15m,Non Stop,New Delhi,Mumbai,34472,2022-11-11,Business
17,Air India Business,21:15,16h 30m,1 Stop,New Delhi,Mumbai,35532,2022-11-11,Business
18,Air India Business,10:30,27h 15m,1 Stop,New Delhi,Mumbai,35532,2022-11-11,Business
19,Vistara Business,07:30,2h 15m,Non Stop,New Delhi,Mumbai,36712,2022-11-11,Business
20,Vistara Business,08:50,2h 20m,Non Stop,New Delhi,Mumbai,36712,2022-11-11,Business
21,Vistara Business,17:45,2h 20m,Non Stop,New Delhi,Mumbai,36712,2022-11-11,Business
22,Vistara Business,18:55,2h 20m,Non Stop,New Delhi,Mumbai,36712,2022-11-11,Business
23,Air India Business,13:20,4h 30m,1 Stop,New Delhi,Mumbai,37256,2022-11-11,Business
24,Air India Business,16:45,23h 40m,2 Stop(s),New Delhi,Mumbai,37900,2022-11-11,Business
25,Air India Business,15:00,8h 40m,1 Stop,New Delhi,Mumbai,39622,2022-11-11,Business
26,Air India Business,06:40,9h 45m,1 Stop,New Delhi,Mumbai,39622,2022-11-11,Business
27,Air India Business,06:40,17h 00m,1 Stop,New Delhi,Mumbai,39622,2022-11-11,Business
28,Air India Business,15:00,25h 25m,1 Stop,New Delhi,Mumbai,39622,2022-11-11,Business
29,Air India Business,09:45,13h 35m,1 Stop,New Delhi,Mumbai,41113,2022-11-11,Business
30,Air India Business,07:05,16h 15m,1 Stop,New Delhi,Mumbai,41113,2022-11-11,Business
31,Air India Business,10:15,5h 25m,1 Stop,New Delhi,Mumbai,44025,2022-11-11,Business
32,Air India Business,22:00,10h 10m,1 Stop,New Delhi,Mumbai,47217,2022-11-11,Business
33,Air India Business,22:00,26h 35m,1 Stop,New Delhi,Mumbai,47217,2022-11-11,Business
34,Air India Business,14:10,8h 15m,1 Stop,New Delhi,Mumbai,49896,2022-11-11,Business
35,Air India Business,09:45,7h 20m,1 Stop,New Delhi,Mumbai,50969,2022-11-11,Business
36,Air India Business,06:00,11h 05m,1 Stop,New Delhi,Mumbai,50969,2022-11-11,Business
37,Air India Business,20:40,11h 25m,1 Stop,New Delhi,Mumbai,50969,2022-11-11,Business
38,Air India Business,20:40,20h 25m,1 Stop,New Delhi,Mumbai,50969,2022-11-11,Business
39,Air India Business,09:45,22h 20m,1 Stop,New Delhi,Mumbai,50969,2022-11-11,Business
40,Air India Business,06:00,26h 05m,1 Stop,New Delhi,Mumbai,50969,2022-11-11,Business
41,Air India Business,13:30,7h 35m,1 Stop,New Delhi,Mumbai,53164,2022-11-11,Business
42,Air India Business,09:45,11h 20m,1 Stop,New Delhi,Mumbai,53164,2022-11-11,Business
43,Air India Business,06:10,14h 55m,1 Stop,New Delhi,Mumbai,53164,2022-11-11,Business
44,Air India Business,21:15,23h 50m,1 Stop,New Delhi,Mumbai,53164,2022-11-11,Business
45,Air India Business,17:20,27h 45m,1 Stop,New Delhi,Mumbai,53164,2022-11-11,Business
46,Air India Business,12:10,8h 20m,1 Stop,New Delhi,Mumbai,59033,2022-11-11,Business
47,Air India Business,06:50,10h 25m,2 Stop(s),New Delhi,Mumbai,59033,2022-11-11,Business
48,Air India Business,06:50,13h 40m,1 Stop,New Delhi,Mumbai,59033,2022-11-11,Business
49,Air India Business,20:15,24h 15m,1 Stop,New Delhi,Mumbai,59033,2022-11-11,Business
50,Air India Business,16:55,27h 35m,1 Stop,New Delhi,Mumbai,59033,2022-11-11,Business

In [31]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('DEL','BOM','14','11','2022','Business')

z7 = pd.DataFrame({})
z7['airlines'] = airlines
z7['departure'] = departure
z7['duration'] = duration
z7['stops'] = stops
z7['from_city'] = 'New Delhi'
z7['to_city'] = to_city
z7['price'] = price
z7['journey_date'] = '2022-11-14'
z7['fclass'] = 'Business'
z7

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Air India Business,08:00,2h 10m,Non Stop,New Delhi,Mumbai,22152,2022-11-14,Business
1,Air India Business,10:40,2h 10m,Non Stop,New Delhi,Mumbai,22152,2022-11-14,Business
2,Air India Business,20:00,2h 10m,Non Stop,New Delhi,Mumbai,22152,2022-11-14,Business
3,Air India Business,15:05,3h 10m,1 Stop,New Delhi,Mumbai,22152,2022-11-14,Business
4,Air India Business,17:50,3h 45m,1 Stop,New Delhi,Mumbai,22152,2022-11-14,Business
5,Vistara Business,11:40,2h 20m,Non Stop,New Delhi,Mumbai,28872,2022-11-14,Business
6,Air India Business,12:00,3h 50m,1 Stop,New Delhi,Mumbai,29622,2022-11-14,Business
7,Air India Business,05:55,3h 45m,1 Stop,New Delhi,Mumbai,29776,2022-11-14,Business
8,Air India Business,05:55,17h 30m,1 Stop,New Delhi,Mumbai,29776,2022-11-14,Business
9,Air India Business,12:55,24h 40m,1 Stop,New Delhi,Mumbai,29776,2022-11-14,Business
10,Air India Business,16:45,4h 30m,1 Stop,New Delhi,Mumbai,31462,2022-11-14,Business
11,Air India Business,07:05,6h 20m,1 Stop,New Delhi,Mumbai,32646,2022-11-14,Business
12,Air India Business,18:30,18h 55m,1 Stop,New Delhi,Mumbai,32646,2022-11-14,Business
13,Vistara Business,06:00,2h 00m,Non Stop,New Delhi,Mumbai,34472,2022-11-14,Business
14,Vistara Business,12:50,2h 10m,Non Stop,New Delhi,Mumbai,34472,2022-11-14,Business
15,Vistara Business,15:30,2h 10m,Non Stop,New Delhi,Mumbai,34472,2022-11-14,Business
16,Vistara Business,21:40,2h 10m,Non Stop,New Delhi,Mumbai,34472,2022-11-14,Business
17,Vistara Business,10:20,2h 15m,Non Stop,New Delhi,Mumbai,34472,2022-11-14,Business
18,Vistara Business,07:30,2h 15m,Non Stop,New Delhi,Mumbai,36712,2022-11-14,Business
19,Vistara Business,08:50,2h 20m,Non Stop,New Delhi,Mumbai,36712,2022-11-14,Business
20,Vistara Business,17:45,2h 20m,Non Stop,New Delhi,Mumbai,36712,2022-11-14,Business
21,Vistara Business,18:55,2h 20m,Non Stop,New Delhi,Mumbai,36712,2022-11-14,Business
22,Air India Business,13:20,4h 30m,1 Stop,New Delhi,Mumbai,37256,2022-11-14,Business
23,Air India Business,16:45,23h 40m,2 Stop(s),New Delhi,Mumbai,37900,2022-11-14,Business
24,Air India Business,15:00,8h 40m,1 Stop,New Delhi,Mumbai,39622,2022-11-14,Business
25,Air India Business,06:40,9h 45m,1 Stop,New Delhi,Mumbai,39622,2022-11-14,Business
26,Air India Business,05:30,10h 55m,1 Stop,New Delhi,Mumbai,39622,2022-11-14,Business
27,Air India Business,06:40,17h 00m,1 Stop,New Delhi,Mumbai,39622,2022-11-14,Business
28,Air India Business,05:30,18h 10m,1 Stop,New Delhi,Mumbai,39622,2022-11-14,Business
29,Air India Business,15:00,25h 25m,1 Stop,New Delhi,Mumbai,39622,2022-11-14,Business
30,Air India Business,18:40,22h 30m,1 Stop,New Delhi,Mumbai,39859,2022-11-14,Business
31,Air India Business,16:45,24h 30m,1 Stop,New Delhi,Mumbai,40447,2022-11-14,Business
32,Air India Business,13:45,27h 30m,1 Stop,New Delhi,Mumbai,40447,2022-11-14,Business
33,Air India Business,21:10,12h 30m,1 Stop,New Delhi,Mumbai,41113,2022-11-14,Business
34,Air India Business,09:45,13h 35m,1 Stop,New Delhi,Mumbai,41113,2022-11-14,Business
35,Air India Business,07:05,16h 15m,1 Stop,New Delhi,Mumbai,41113,2022-11-14,Business
36,Air India Business,09:45,23h 55m,1 Stop,New Delhi,Mumbai,41113,2022-11-14,Business
37,Air India Business,07:05,26h 35m,1 Stop,New Delhi,Mumbai,41113,2022-11-14,Business
38,Air India Business,10:15,5h 25m,1 Stop,New Delhi,Mumbai,44025,2022-11-14,Business
39,Air India Business,22:00,10h 10m,1 Stop,New Delhi,Mumbai,47217,2022-11-14,Business
40,Air India Business,14:10,8h 15m,1 Stop,New Delhi,Mumbai,49896,2022-11-14,Business
41,Air India Business,09:45,7h 20m,1 Stop,New Delhi,Mumbai,50969,2022-11-14,Business
42,Air India Business,06:00,11h 05m,1 Stop,New Delhi,Mumbai,50969,2022-11-14,Business
43,Air India Business,20:40,11h 25m,1 Stop,New Delhi,Mumbai,50969,2022-11-14,Business
44,Air India Business,20:40,20h 25m,1 Stop,New Delhi,Mumbai,50969,2022-11-14,Business
45,Air India Business,09:45,22h 20m,1 Stop,New Delhi,Mumbai,50969,2022-11-14,Business
46,Air India Business,06:00,26h 05m,1 Stop,New Delhi,Mumbai,50969,2022-11-14,Business

In [32]:
del_mum = pd.concat([x,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,y1,y2,y3,y4,y5,y6,y7,y8,y9,z1,z2,z3,z4,z5,z6,z7], axis = 0)
del_mum.shape
del_mum.to_excel('delhimum.xlsx')

In [33]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('DEL','BLR','28','10','2022','Economy')

x1 = pd.DataFrame({})
x1['airlines'] = airlines
x1['departure'] = departure
x1['duration'] = duration
x1['stops'] = stops
x1['from_city'] = 'New Delhi'
x1['to_city'] = to_city
x1['price'] = price
x1['journey_date'] = '2022-10-28'
x1['fclass'] = 'Economy'
x1

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Air India,20:40,17h 45m,1 Stop,New Delhi,Bangalore,3855,2022-10-28,Economy
1,Air India,21:15,2h 40m,Non Stop,New Delhi,Bangalore,4007,2022-10-28,Economy
2,Air India,06:10,2h 45m,Non Stop,New Delhi,Bangalore,4007,2022-10-28,Economy
3,Air India,09:45,2h 45m,Non Stop,New Delhi,Bangalore,4007,2022-10-28,Economy
4,Air India,13:30,2h 45m,Non Stop,New Delhi,Bangalore,4007,2022-10-28,Economy
...,...,...,...,...,...,...,...,...,...
156,Vistara,15:00,28h 10m,1 Stop,New Delhi,Bangalore,16140,2022-10-28,Economy
157,SpiceJet,16:20,6h 05m,1 Stop,New Delhi,Bangalore,17224,2022-10-28,Economy
158,SpiceJet,12:00,10h 25m,1 Stop,New Delhi,Bangalore,17224,2022-10-28,Economy
159,Go First,10:20,4h 30m,1 Stop,New Delhi,Bangalore,20567,2022-10-28,Economy
160,Go First,08:45,7h 50m,1 Stop,New Delhi,Bangalore,20964,2022-10-28,Economy

In [34]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('DEL','BLR','29','10','2022','Economy')

x2 = pd.DataFrame({})
x2['airlines'] = airlines
x2['departure'] = departure
x2['duration'] = duration
x2['stops'] = stops
x2['from_city'] = 'New Delhi'
x2['to_city'] = to_city
x2['price'] = price
x2['journey_date'] = '2022-10-29'
x2['fclass'] = 'Economy'
x2

Empty DataFrame
Columns: [airlines, departure, duration, stops, from_city, to_city, price, journey_date, fclass]
Index: []

In [35]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('DEL','BLR','31','10','2022','Economy')

x3 = pd.DataFrame({})
x3['airlines'] = airlines
x3['departure'] = departure
x3['duration'] = duration
x3['stops'] = stops
x3['from_city'] = 'New Delhi'
x3['to_city'] = to_city
x3['price'] = price
x3['journey_date'] = '2022-10-31'
x3['fclass'] = 'Economy'
x3

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Air India,20:40,18h 40m,1 Stop,New Delhi,Bangalore,3855,2022-10-31,Economy
1,Air India,21:15,2h 40m,Non Stop,New Delhi,Bangalore,4007,2022-10-31,Economy
2,Air India,06:10,2h 45m,Non Stop,New Delhi,Bangalore,4007,2022-10-31,Economy
3,Air India,09:45,2h 45m,Non Stop,New Delhi,Bangalore,4007,2022-10-31,Economy
4,Air India,13:30,2h 45m,Non Stop,New Delhi,Bangalore,4007,2022-10-31,Economy
...,...,...,...,...,...,...,...,...,...
69,Go First,05:35,4h 45m,1 Stop,New Delhi,Bangalore,20567,2022-10-31,Economy
70,Go First,11:30,5h 40m,1 Stop,New Delhi,Bangalore,20791,2022-10-31,Economy
71,Go First,09:00,5h 55m,1 Stop,New Delhi,Bangalore,20791,2022-10-31,Economy
72,Go First,09:55,7h 15m,1 Stop,New Delhi,Bangalore,20791,2022-10-31,Economy
73,Go First,09:00,8h 10m,1 Stop,New Delhi,Bangalore,20791,2022-10-31,Economy

In [36]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('DEL','BLR','2','11','2022','Economy')

x4 = pd.DataFrame({})
x4['airlines'] = airlines
x4['departure'] = departure
x4['duration'] = duration
x4['stops'] = stops
x4['from_city'] = 'New Delhi'
x4['to_city'] = to_city
x4['price'] = price
x4['journey_date'] = '2022-11-2'
x4['fclass'] = 'Economy'
x4

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Air India,21:10,13h 15m,1 Stop,New Delhi,Bangalore,3610,2022-11-2,Economy
1,Air India,09:45,24h 40m,1 Stop,New Delhi,Bangalore,3610,2022-11-2,Economy
2,Air India,21:15,2h 40m,Non Stop,New Delhi,Bangalore,4007,2022-11-2,Economy
3,Air India,06:10,2h 45m,Non Stop,New Delhi,Bangalore,4007,2022-11-2,Economy
4,Air India,09:45,2h 45m,Non Stop,New Delhi,Bangalore,4007,2022-11-2,Economy
...,...,...,...,...,...,...,...,...,...
67,Go First,09:00,5h 55m,1 Stop,New Delhi,Bangalore,20791,2022-11-2,Economy
68,Go First,09:55,7h 15m,1 Stop,New Delhi,Bangalore,20791,2022-11-2,Economy
69,Go First,09:00,8h 10m,1 Stop,New Delhi,Bangalore,20791,2022-11-2,Economy
70,Go First,06:00,5h 30m,1 Stop,New Delhi,Bangalore,23130,2022-11-2,Economy
71,Go First,15:30,8h 10m,1 Stop,New Delhi,Bangalore,23130,2022-11-2,Economy

In [37]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('DEL','BLR','4','11','2022','Economy')

x5 = pd.DataFrame({})
x5['airlines'] = airlines
x5['departure'] = departure
x5['duration'] = duration
x5['stops'] = stops
x5['from_city'] = 'New Delhi'
x5['to_city'] = to_city
x5['price'] = price
x5['journey_date'] = '2022-11-4'
x5['fclass'] = 'Economy'
x5

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Air India,20:40,17h 45m,1 Stop,New Delhi,Bangalore,3855,2022-11-4,Economy
1,Air India,21:15,2h 40m,Non Stop,New Delhi,Bangalore,4007,2022-11-4,Economy
2,Air India,06:10,2h 45m,Non Stop,New Delhi,Bangalore,4007,2022-11-4,Economy
3,Air India,09:45,2h 45m,Non Stop,New Delhi,Bangalore,4007,2022-11-4,Economy
4,Air India,13:30,2h 45m,Non Stop,New Delhi,Bangalore,4007,2022-11-4,Economy
...,...,...,...,...,...,...,...,...,...
72,Go First,09:00,5h 55m,1 Stop,New Delhi,Bangalore,20791,2022-11-4,Economy
73,Go First,09:55,7h 15m,1 Stop,New Delhi,Bangalore,20791,2022-11-4,Economy
74,Go First,09:00,8h 10m,1 Stop,New Delhi,Bangalore,20791,2022-11-4,Economy
75,Go First,06:00,5h 30m,1 Stop,New Delhi,Bangalore,23130,2022-11-4,Economy
76,Go First,15:30,8h 10m,1 Stop,New Delhi,Bangalore,23130,2022-11-4,Economy

In [38]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('DEL','BLR','6','11','2022','Economy')

x6 = pd.DataFrame({})
x6['airlines'] = airlines
x6['departure'] = departure
x6['duration'] = duration
x6['stops'] = stops
x6['from_city'] = 'New Delhi'
x6['to_city'] = to_city
x6['price'] = price
x6['journey_date'] = '2022-11-6'
x6['fclass'] = 'Economy'
x6

Empty DataFrame
Columns: [airlines, departure, duration, stops, from_city, to_city, price, journey_date, fclass]
Index: []

In [39]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('DEL','BLR','8','11','2022','Economy')

x7 = pd.DataFrame({})
x7['airlines'] = airlines
x7['departure'] = departure
x7['duration'] = duration
x7['stops'] = stops
x7['from_city'] = 'New Delhi'
x7['to_city'] = to_city
x7['price'] = price
x7['journey_date'] = '2022-11-8'
x7['fclass'] = 'Economy'
x7

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Air India,09:45,5h 35m,1 Stop,New Delhi,Bangalore,3855,2022-11-8,Economy
1,Air India,06:00,9h 20m,1 Stop,New Delhi,Bangalore,3855,2022-11-8,Economy
2,Air India,09:30,2h 35m,Non Stop,New Delhi,Bangalore,4007,2022-11-8,Economy
3,Air India,21:15,2h 40m,Non Stop,New Delhi,Bangalore,4007,2022-11-8,Economy
4,Air India,06:10,2h 45m,Non Stop,New Delhi,Bangalore,4007,2022-11-8,Economy
...,...,...,...,...,...,...,...,...,...
84,Go First,09:00,5h 55m,1 Stop,New Delhi,Bangalore,20791,2022-11-8,Economy
85,Go First,09:55,7h 15m,1 Stop,New Delhi,Bangalore,20791,2022-11-8,Economy
86,Go First,09:00,8h 10m,1 Stop,New Delhi,Bangalore,20791,2022-11-8,Economy
87,Go First,06:00,5h 30m,1 Stop,New Delhi,Bangalore,23130,2022-11-8,Economy
88,Go First,15:30,8h 10m,1 Stop,New Delhi,Bangalore,23130,2022-11-8,Economy

In [40]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('DEL','BLR','10','11','2022','Economy')

x8 = pd.DataFrame({})
x8['airlines'] = airlines
x8['departure'] = departure
x8['duration'] = duration
x8['stops'] = stops
x8['from_city'] = 'New Delhi'
x8['to_city'] = to_city
x8['price'] = price
x8['journey_date'] = '2022-11-10'
x8['fclass'] = 'Economy'
x8

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Air India,21:10,13h 15m,1 Stop,New Delhi,Bangalore,3610,2022-11-10,Economy
1,Air India,09:45,24h 40m,1 Stop,New Delhi,Bangalore,3610,2022-11-10,Economy
2,Air India,21:15,2h 40m,Non Stop,New Delhi,Bangalore,4007,2022-11-10,Economy
3,Air India,06:10,2h 45m,Non Stop,New Delhi,Bangalore,4007,2022-11-10,Economy
4,Air India,09:45,2h 45m,Non Stop,New Delhi,Bangalore,4007,2022-11-10,Economy
...,...,...,...,...,...,...,...,...,...
84,Go First,09:00,5h 55m,1 Stop,New Delhi,Bangalore,20791,2022-11-10,Economy
85,Go First,09:55,7h 15m,1 Stop,New Delhi,Bangalore,20791,2022-11-10,Economy
86,Go First,09:00,8h 10m,1 Stop,New Delhi,Bangalore,20791,2022-11-10,Economy
87,Go First,06:00,5h 30m,1 Stop,New Delhi,Bangalore,23130,2022-11-10,Economy
88,Go First,15:30,8h 10m,1 Stop,New Delhi,Bangalore,23130,2022-11-10,Economy

In [41]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('DEL','BLR','12','11','2022','Economy')

x9 = pd.DataFrame({})
x9['airlines'] = airlines
x9['departure'] = departure
x9['duration'] = duration
x9['stops'] = stops
x9['from_city'] = 'New Delhi'
x9['to_city'] = to_city
x9['price'] = price
x9['journey_date'] = '2022-11-12'
x9['fclass'] = 'Economy'
x9

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Air India,09:45,4h 40m,1 Stop,New Delhi,Bangalore,3855,2022-11-12,Economy
1,Air India,06:00,8h 25m,1 Stop,New Delhi,Bangalore,3855,2022-11-12,Economy
2,Air India,21:15,2h 40m,Non Stop,New Delhi,Bangalore,4007,2022-11-12,Economy
3,Air India,06:10,2h 45m,Non Stop,New Delhi,Bangalore,4007,2022-11-12,Economy
4,Air India,09:45,2h 45m,Non Stop,New Delhi,Bangalore,4007,2022-11-12,Economy
...,...,...,...,...,...,...,...,...,...
78,Go First,09:00,5h 55m,1 Stop,New Delhi,Bangalore,20791,2022-11-12,Economy
79,Go First,09:55,7h 15m,1 Stop,New Delhi,Bangalore,20791,2022-11-12,Economy
80,Go First,09:00,8h 10m,1 Stop,New Delhi,Bangalore,20791,2022-11-12,Economy
81,Go First,06:00,5h 30m,1 Stop,New Delhi,Bangalore,23130,2022-11-12,Economy
82,Go First,15:30,8h 10m,1 Stop,New Delhi,Bangalore,23130,2022-11-12,Economy

In [42]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('DEL','BLR','14','11','2022','Economy')

x10 = pd.DataFrame({})
x10['airlines'] = airlines
x10['departure'] = departure
x10['duration'] = duration
x10['stops'] = stops
x10['from_city'] = 'New Delhi'
x10['to_city'] = to_city
x10['price'] = price
x10['journey_date'] = '2022-11-14'
x10['fclass'] = 'Economy'
x10

Empty DataFrame
Columns: [airlines, departure, duration, stops, from_city, to_city, price, journey_date, fclass]
Index: []

In [43]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('DEL','BLR','28','10','2022','Special')

y1 = pd.DataFrame({})
y1['airlines'] = airlines
y1['departure'] = departure
y1['duration'] = duration
y1['stops'] = stops
y1['from_city'] = 'New Delhi'
y1['to_city'] = to_city
y1['price'] = price
y1['journey_date'] = '2022-10-28'
y1['fclass'] = 'Special'
y1

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Vistara Premium Economy,20:40,2h 40m,Non Stop,New Delhi,Bangalore,9630,2022-10-28,Special
1,Vistara Premium Economy,06:15,2h 45m,Non Stop,New Delhi,Bangalore,9630,2022-10-28,Special
2,Vistara Premium Economy,08:05,2h 45m,Non Stop,New Delhi,Bangalore,9630,2022-10-28,Special
3,Vistara Premium Economy,16:05,2h 45m,Non Stop,New Delhi,Bangalore,9630,2022-10-28,Special
4,Vistara Premium Economy,14:15,2h 50m,Non Stop,New Delhi,Bangalore,9630,2022-10-28,Special
5,Vistara Premium Economy,17:35,2h 50m,Non Stop,New Delhi,Bangalore,9630,2022-10-28,Special
6,Vistara Premium Economy,19:50,2h 50m,Non Stop,New Delhi,Bangalore,9630,2022-10-28,Special
7,Vistara Premium Economy,06:00,4h 45m,1 Stop,New Delhi,Bangalore,12458,2022-10-28,Special
8,Vistara Premium Economy,12:50,4h 55m,1 Stop,New Delhi,Bangalore,12458,2022-10-28,Special
9,Vistara Premium Economy,17:45,5h 05m,1 Stop,New Delhi,Bangalore,12458,2022-10-28,Special
10,Vistara Premium Economy,15:30,5h 25m,1 Stop,New Delhi,Bangalore,12458,2022-10-28,Special
11,Vistara Premium Economy,11:40,6h 05m,1 Stop,New Delhi,Bangalore,12458,2022-10-28,Special
12,Vistara Premium Economy,16:45,6h 05m,1 Stop,New Delhi,Bangalore,12458,2022-10-28,Special
13,Vistara Premium Economy,12:50,6h 25m,1 Stop,New Delhi,Bangalore,12458,2022-10-28,Special
14,Vistara Premium Economy,15:30,7h 20m,1 Stop,New Delhi,Bangalore,12458,2022-10-28,Special
15,Vistara Premium Economy,10:20,7h 25m,1 Stop,New Delhi,Bangalore,12458,2022-10-28,Special
16,Vistara Premium Economy,11:40,7h 35m,1 Stop,New Delhi,Bangalore,12458,2022-10-28,Special
17,Vistara Premium Economy,12:50,8h 05m,1 Stop,New Delhi,Bangalore,12458,2022-10-28,Special
18,Vistara Premium Economy,09:30,8h 15m,1 Stop,New Delhi,Bangalore,12458,2022-10-28,Special
19,Vistara Premium Economy,10:20,8h 55m,1 Stop,New Delhi,Bangalore,12458,2022-10-28,Special
20,Vistara Premium Economy,11:40,9h 15m,1 Stop,New Delhi,Bangalore,12458,2022-10-28,Special
21,Vistara Premium Economy,09:30,9h 45m,1 Stop,New Delhi,Bangalore,12458,2022-10-28,Special
22,Vistara Premium Economy,12:50,10h 00m,1 Stop,New Delhi,Bangalore,12458,2022-10-28,Special
23,Vistara Premium Economy,21:40,10h 10m,1 Stop,New Delhi,Bangalore,12458,2022-10-28,Special
24,Vistara Premium Economy,10:20,10h 35m,1 Stop,New Delhi,Bangalore,12458,2022-10-28,Special
25,Vistara Premium Economy,11:40,11h 10m,1 Stop,New Delhi,Bangalore,12458,2022-10-28,Special
26,Vistara Premium Economy,20:40,11h 10m,1 Stop,New Delhi,Bangalore,12458,2022-10-28,Special
27,Vistara Premium Economy,21:40,11h 10m,1 Stop,New Delhi,Bangalore,12458,2022-10-28,Special
28,Vistara Premium Economy,06:00,11h 45m,1 Stop,New Delhi,Bangalore,12458,2022-10-28,Special
29,Vistara Premium Economy,20:40,12h 10m,1 Stop,New Delhi,Bangalore,12458,2022-10-28,Special
30,Vistara Premium Economy,21:40,13h 05m,1 Stop,New Delhi,Bangalore,12458,2022-10-28,Special
31,Vistara Premium Economy,06:00,13h 15m,1 Stop,New Delhi,Bangalore,12458,2022-10-28,Special
32,Vistara Premium Economy,07:05,10h 40m,2 Stop(s),New Delhi,Bangalore,16720,2022-10-28,Special
33,Vistara Premium Economy,07:05,12h 10m,2 Stop(s),New Delhi,Bangalore,16720,2022-10-28,Special
34,Vistara Premium Economy,07:05,13h 50m,2 Stop(s),New Delhi,Bangalore,16720,2022-10-28,Special
35,Vistara Premium Economy,17:40,14h 10m,2 Stop(s),New Delhi,Bangalore,16720,2022-10-28,Special
36,Vistara Premium Economy,17:40,15h 10m,2 Stop(s),New Delhi,Bangalore,16720,2022-10-28,Special
37,Vistara Premium Economy,07:05,15h 45m,2 Stop(s),New Delhi,Bangalore,16720,2022-10-28,Special
38,Vistara Premium Economy,14:45,17h 05m,2 Stop(s),New Delhi,Bangalore,16720,2022-10-28,Special
39,Vistara Premium Economy,17:40,17h 05m,2 Stop(s),New Delhi,Bangalore,16720,2022-10-28,Special
40,Vistara Premium Economy,14:45,18h 05m,2 Stop(s),New Delhi,Bangalore,16720,2022-10-28,Special
41,Vistara Premium Economy,14:45,20h 00m,2 Stop(s),New Delhi,Bangalore,16720,2022-10-28,Special
42,Vistara Premium Economy,20:35,21h 10m,2 Stop(s),New Delhi,Bangalore,16720,2022-10-28,Special
43,Vistara Premium Economy,20:35,21h 10m,2 Stop(s),New Delhi,Bangalore,16720,2022-10-28,Special
44,Vistara Premium Economy,20:35,22h 40m,2 Stop(s),New Delhi,Bangalore,16720,2022-10-28,Special
45,Vistara Premium Economy,20:35,22h 40m,2 Stop(s),New Delhi,Bangalore,16720,2022-10-28,Special
46,Vistara Premium Economy,17:40,24h 05m,2 Stop(s),New Delhi,Bangalore,16720,2022-10-28,Special
47,Vistara Premium Economy,17:40,24h 05m,2 Stop(s),New Delhi,Bangalore,16720,2022-10-28,Special
48,Vistara Premium Economy,13:20,7h 35m,2 Stop(s),New Delhi,Bangalore,17377,2022-10-28,Special

In [44]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('DEL','BLR','30','10','2022','Special')

y2 = pd.DataFrame({})
y2['airlines'] = airlines
y2['departure'] = departure
y2['duration'] = duration
y2['stops'] = stops
y2['from_city'] = 'New Delhi'
y2['to_city'] = to_city
y2['price'] = price
y2['journey_date'] = '2022-10-30'
y2['fclass'] = 'Special'
y2

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Vistara Premium Economy,20:40,2h 40m,Non Stop,New Delhi,Bangalore,9630,2022-10-30,Special
1,Vistara Premium Economy,08:05,2h 45m,Non Stop,New Delhi,Bangalore,9630,2022-10-30,Special
2,Vistara Premium Economy,16:05,2h 45m,Non Stop,New Delhi,Bangalore,9630,2022-10-30,Special
3,Vistara Premium Economy,14:15,2h 50m,Non Stop,New Delhi,Bangalore,9630,2022-10-30,Special
4,Vistara Premium Economy,17:35,2h 50m,Non Stop,New Delhi,Bangalore,9630,2022-10-30,Special
5,Vistara Premium Economy,19:50,2h 50m,Non Stop,New Delhi,Bangalore,9630,2022-10-30,Special

In [45]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('DEL','BLR','1','11','2022','Special')

y3 = pd.DataFrame({})
y3['airlines'] = airlines
y3['departure'] = departure
y3['duration'] = duration
y3['stops'] = stops
y3['from_city'] = 'New Delhi'
y3['to_city'] = to_city
y3['price'] = price
y3['journey_date'] = '2022-11-1'
y3['fclass'] = 'Special'
y3

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Vistara Premium Economy,20:40,2h 40m,Non Stop,New Delhi,Bangalore,8622,2022-11-1,Special
1,Vistara Premium Economy,06:15,2h 45m,Non Stop,New Delhi,Bangalore,8622,2022-11-1,Special
2,Vistara Premium Economy,08:05,2h 45m,Non Stop,New Delhi,Bangalore,8622,2022-11-1,Special
3,Vistara Premium Economy,16:05,2h 45m,Non Stop,New Delhi,Bangalore,8622,2022-11-1,Special
4,Vistara Premium Economy,14:15,2h 50m,Non Stop,New Delhi,Bangalore,8622,2022-11-1,Special
5,Vistara Premium Economy,17:35,2h 50m,Non Stop,New Delhi,Bangalore,8622,2022-11-1,Special
6,Vistara Premium Economy,19:50,2h 50m,Non Stop,New Delhi,Bangalore,8622,2022-11-1,Special

In [46]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('DEL','BLR','3','11','2022','Special')

y4 = pd.DataFrame({})
y4['airlines'] = airlines
y4['departure'] = departure
y4['duration'] = duration
y4['stops'] = stops
y4['from_city'] = 'New Delhi'
y4['to_city'] = to_city
y4['price'] = price
y4['journey_date'] = '2022-11-3'
y4['fclass'] = 'Special'
y4

Empty DataFrame
Columns: [airlines, departure, duration, stops, from_city, to_city, price, journey_date, fclass]
Index: []

In [47]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('DEL','BLR','5','11','2022','Special')

y5 = pd.DataFrame({})
y5['airlines'] = airlines
y5['departure'] = departure
y5['duration'] = duration
y5['stops'] = stops
y5['from_city'] = 'New Delhi'
y5['to_city'] = to_city
y5['price'] = price
y5['journey_date'] = '2022-11-5'
y5['fclass'] = 'Special'
y5

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Vistara Premium Economy,20:40,2h 40m,Non Stop,New Delhi,Bangalore,8622,2022-11-5,Special
1,Vistara Premium Economy,06:15,2h 45m,Non Stop,New Delhi,Bangalore,8622,2022-11-5,Special
2,Vistara Premium Economy,08:05,2h 45m,Non Stop,New Delhi,Bangalore,8622,2022-11-5,Special
3,Vistara Premium Economy,16:05,2h 45m,Non Stop,New Delhi,Bangalore,8622,2022-11-5,Special
4,Vistara Premium Economy,14:15,2h 50m,Non Stop,New Delhi,Bangalore,8622,2022-11-5,Special
5,Vistara Premium Economy,17:35,2h 50m,Non Stop,New Delhi,Bangalore,8622,2022-11-5,Special
6,Vistara Premium Economy,19:50,2h 50m,Non Stop,New Delhi,Bangalore,8622,2022-11-5,Special

In [48]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('DEL','BLR','7','11','2022','Special')

y6 = pd.DataFrame({})
y6['airlines'] = airlines
y6['departure'] = departure
y6['duration'] = duration
y6['stops'] = stops
y6['from_city'] = 'New Delhi'
y6['to_city'] = to_city
y6['price'] = price
y6['journey_date'] = '2022-11-7'
y6['fclass'] = 'Special'
y6

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Vistara Premium Economy,20:40,2h 40m,Non Stop,New Delhi,Bangalore,8622,2022-11-7,Special
1,Vistara Premium Economy,06:15,2h 45m,Non Stop,New Delhi,Bangalore,8622,2022-11-7,Special
2,Vistara Premium Economy,08:05,2h 45m,Non Stop,New Delhi,Bangalore,8622,2022-11-7,Special
3,Vistara Premium Economy,16:05,2h 45m,Non Stop,New Delhi,Bangalore,8622,2022-11-7,Special
4,Vistara Premium Economy,14:15,2h 50m,Non Stop,New Delhi,Bangalore,8622,2022-11-7,Special
5,Vistara Premium Economy,17:35,2h 50m,Non Stop,New Delhi,Bangalore,8622,2022-11-7,Special
6,Vistara Premium Economy,19:50,2h 50m,Non Stop,New Delhi,Bangalore,8622,2022-11-7,Special

In [49]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('DEL','BLR','9','11','2022','Special')

y7 = pd.DataFrame({})
y7['airlines'] = airlines
y7['departure'] = departure
y7['duration'] = duration
y7['stops'] = stops
y7['from_city'] = 'New Delhi'
y7['to_city'] = to_city
y7['price'] = price
y7['journey_date'] = '2022-11-9'
y7['fclass'] = 'Special'
y7

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Vistara Premium Economy,20:40,2h 40m,Non Stop,New Delhi,Bangalore,8622,2022-11-9,Special
1,Vistara Premium Economy,06:15,2h 45m,Non Stop,New Delhi,Bangalore,8622,2022-11-9,Special
2,Vistara Premium Economy,08:05,2h 45m,Non Stop,New Delhi,Bangalore,8622,2022-11-9,Special
3,Vistara Premium Economy,16:05,2h 45m,Non Stop,New Delhi,Bangalore,8622,2022-11-9,Special
4,Vistara Premium Economy,14:15,2h 50m,Non Stop,New Delhi,Bangalore,8622,2022-11-9,Special
5,Vistara Premium Economy,17:35,2h 50m,Non Stop,New Delhi,Bangalore,8622,2022-11-9,Special
6,Vistara Premium Economy,19:50,2h 50m,Non Stop,New Delhi,Bangalore,8622,2022-11-9,Special

In [50]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('DEL','BLR','11','11','2022','Special')

y8 = pd.DataFrame({})
y8['airlines'] = airlines
y8['departure'] = departure
y8['duration'] = duration
y8['stops'] = stops
y8['from_city'] = 'New Delhi'
y8['to_city'] = to_city
y8['price'] = price
y8['journey_date'] = '2022-11-11'
y8['fclass'] = 'Special'
y8

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Vistara Premium Economy,20:40,2h 40m,Non Stop,New Delhi,Bangalore,8622,2022-11-11,Special
1,Vistara Premium Economy,06:15,2h 45m,Non Stop,New Delhi,Bangalore,8622,2022-11-11,Special
2,Vistara Premium Economy,08:05,2h 45m,Non Stop,New Delhi,Bangalore,8622,2022-11-11,Special
3,Vistara Premium Economy,16:05,2h 45m,Non Stop,New Delhi,Bangalore,8622,2022-11-11,Special
4,Vistara Premium Economy,14:15,2h 50m,Non Stop,New Delhi,Bangalore,8622,2022-11-11,Special
5,Vistara Premium Economy,17:35,2h 50m,Non Stop,New Delhi,Bangalore,8622,2022-11-11,Special
6,Vistara Premium Economy,19:50,2h 50m,Non Stop,New Delhi,Bangalore,8622,2022-11-11,Special

In [51]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('DEL','BLR','13','11','2022','Special')

y9 = pd.DataFrame({})
y9['airlines'] = airlines
y9['departure'] = departure
y9['duration'] = duration
y9['stops'] = stops
y9['from_city'] = 'New Delhi'
y9['to_city'] = to_city
y9['price'] = price
y9['journey_date'] = '2022-11-13'
y9['fclass'] = 'Special'
y9

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Vistara Premium Economy,20:40,2h 40m,Non Stop,New Delhi,Bangalore,8622,2022-11-13,Special
1,Vistara Premium Economy,08:05,2h 45m,Non Stop,New Delhi,Bangalore,8622,2022-11-13,Special
2,Vistara Premium Economy,16:05,2h 45m,Non Stop,New Delhi,Bangalore,8622,2022-11-13,Special
3,Vistara Premium Economy,14:15,2h 50m,Non Stop,New Delhi,Bangalore,8622,2022-11-13,Special
4,Vistara Premium Economy,17:35,2h 50m,Non Stop,New Delhi,Bangalore,8622,2022-11-13,Special
5,Vistara Premium Economy,19:50,2h 50m,Non Stop,New Delhi,Bangalore,8622,2022-11-13,Special

In [52]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('DEL','BLR','28','10','2022','Business')

z1 = pd.DataFrame({})
z1['airlines'] = airlines
z1['departure'] = departure
z1['duration'] = duration
z1['stops'] = stops
z1['from_city'] = 'New Delhi'
z1['to_city'] = to_city
z1['price'] = price
z1['journey_date'] = '2022-10-28'
z1['fclass'] = 'Business'
z1

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Vistara Business,20:40,2h 40m,Non Stop,New Delhi,Bangalore,32859,2022-10-28,Business
1,Air India Business,21:15,2h 40m,Non Stop,New Delhi,Bangalore,32859,2022-10-28,Business
2,Air India Business,06:10,2h 45m,Non Stop,New Delhi,Bangalore,32859,2022-10-28,Business
3,Vistara Business,06:15,2h 45m,Non Stop,New Delhi,Bangalore,32859,2022-10-28,Business
4,Vistara Business,08:05,2h 45m,Non Stop,New Delhi,Bangalore,32859,2022-10-28,Business
...,...,...,...,...,...,...,...,...,...
71,Air India Business,16:15,31h 05m,2 Stop(s),New Delhi,Bangalore,57091,2022-10-28,Business
72,Vistara Business,19:50,12h 00m,1 Stop,New Delhi,Bangalore,62617,2022-10-28,Business
73,Vistara Business,19:50,13h 00m,1 Stop,New Delhi,Bangalore,62617,2022-10-28,Business
74,Vistara Business,19:50,14h 55m,1 Stop,New Delhi,Bangalore,62617,2022-10-28,Business
75,Vistara Business,13:20,7h 35m,2 Stop(s),New Delhi,Bangalore,64387,2022-10-28,Business

In [53]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('DEL','BLR','31','10','2022','Business')

z2 = pd.DataFrame({})
z2['airlines'] = airlines
z2['departure'] = departure
z2['duration'] = duration
z2['stops'] = stops
z2['from_city'] = 'New Delhi'
z2['to_city'] = to_city
z2['price'] = price
z2['journey_date'] = '2022-10-31'
z2['fclass'] = 'Business'
z2

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Vistara Business,20:40,2h 40m,Non Stop,New Delhi,Bangalore,32859,2022-10-31,Business
1,Air India Business,21:15,2h 40m,Non Stop,New Delhi,Bangalore,32859,2022-10-31,Business
2,Air India Business,06:10,2h 45m,Non Stop,New Delhi,Bangalore,32859,2022-10-31,Business
3,Vistara Business,06:15,2h 45m,Non Stop,New Delhi,Bangalore,32859,2022-10-31,Business
4,Vistara Business,08:05,2h 45m,Non Stop,New Delhi,Bangalore,32859,2022-10-31,Business
5,Air India Business,09:45,2h 45m,Non Stop,New Delhi,Bangalore,32859,2022-10-31,Business
6,Air India Business,13:30,2h 45m,Non Stop,New Delhi,Bangalore,32859,2022-10-31,Business
7,Vistara Business,16:05,2h 45m,Non Stop,New Delhi,Bangalore,32859,2022-10-31,Business
8,Air India Business,17:20,2h 45m,Non Stop,New Delhi,Bangalore,32859,2022-10-31,Business
9,Vistara Business,14:15,2h 50m,Non Stop,New Delhi,Bangalore,32859,2022-10-31,Business
10,Vistara Business,17:35,2h 50m,Non Stop,New Delhi,Bangalore,32859,2022-10-31,Business
11,Vistara Business,19:50,2h 50m,Non Stop,New Delhi,Bangalore,32859,2022-10-31,Business
12,Air India Business,18:30,27h 15m,1 Stop,New Delhi,Bangalore,37594,2022-10-31,Business
13,Air India Business,20:40,18h 40m,1 Stop,New Delhi,Bangalore,39545,2022-10-31,Business
14,Air India Business,10:40,7h 50m,1 Stop,New Delhi,Bangalore,42457,2022-10-31,Business
15,Air India Business,08:00,10h 30m,1 Stop,New Delhi,Bangalore,42457,2022-10-31,Business
16,Air India Business,20:00,22h 30m,1 Stop,New Delhi,Bangalore,42457,2022-10-31,Business
17,Air India Business,17:50,24h 40m,2 Stop(s),New Delhi,Bangalore,42457,2022-10-31,Business
18,Air India Business,15:05,27h 25m,2 Stop(s),New Delhi,Bangalore,42457,2022-10-31,Business
19,Air India Business,17:15,17h 15m,1 Stop,New Delhi,Bangalore,44762,2022-10-31,Business
20,Air India Business,16:45,8h 00m,1 Stop,New Delhi,Bangalore,45371,2022-10-31,Business
21,Air India Business,13:45,11h 00m,1 Stop,New Delhi,Bangalore,45371,2022-10-31,Business
22,Air India Business,06:50,9h 55m,1 Stop,New Delhi,Bangalore,52522,2022-10-31,Business
23,Air India Business,06:00,10h 45m,2 Stop(s),New Delhi,Bangalore,52522,2022-10-31,Business
24,Air India Business,20:15,27h 05m,1 Stop,New Delhi,Bangalore,52522,2022-10-31,Business
25,Air India Business,16:15,31h 05m,2 Stop(s),New Delhi,Bangalore,57091,2022-10-31,Business

In [54]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('DEL','BLR','3','11','2022','Business')

z3 = pd.DataFrame({})
z3['airlines'] = airlines
z3['departure'] = departure
z3['duration'] = duration
z3['stops'] = stops
z3['from_city'] = 'New Delhi'
z3['to_city'] = to_city
z3['price'] = price
z3['journey_date'] = '2022-11-3'
z3['fclass'] = 'Business'
z3

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Vistara Business,20:40,2h 40m,Non Stop,New Delhi,Bangalore,32859,2022-11-3,Business
1,Air India Business,21:15,2h 40m,Non Stop,New Delhi,Bangalore,32859,2022-11-3,Business
2,Air India Business,06:10,2h 45m,Non Stop,New Delhi,Bangalore,32859,2022-11-3,Business
3,Vistara Business,06:15,2h 45m,Non Stop,New Delhi,Bangalore,32859,2022-11-3,Business
4,Vistara Business,08:05,2h 45m,Non Stop,New Delhi,Bangalore,32859,2022-11-3,Business
5,Air India Business,09:45,2h 45m,Non Stop,New Delhi,Bangalore,32859,2022-11-3,Business
6,Air India Business,13:30,2h 45m,Non Stop,New Delhi,Bangalore,32859,2022-11-3,Business
7,Vistara Business,16:05,2h 45m,Non Stop,New Delhi,Bangalore,32859,2022-11-3,Business
8,Air India Business,17:20,2h 45m,Non Stop,New Delhi,Bangalore,32859,2022-11-3,Business
9,Vistara Business,14:15,2h 50m,Non Stop,New Delhi,Bangalore,32859,2022-11-3,Business
10,Vistara Business,17:35,2h 50m,Non Stop,New Delhi,Bangalore,32859,2022-11-3,Business
11,Vistara Business,19:50,2h 50m,Non Stop,New Delhi,Bangalore,32859,2022-11-3,Business
12,Air India Business,21:10,13h 15m,1 Stop,New Delhi,Bangalore,35490,2022-11-3,Business
13,Air India Business,09:45,24h 40m,1 Stop,New Delhi,Bangalore,35490,2022-11-3,Business
14,Air India Business,12:00,24h 50m,1 Stop,New Delhi,Bangalore,36546,2022-11-3,Business
15,Air India Business,18:30,25h 20m,1 Stop,New Delhi,Bangalore,37594,2022-11-3,Business
16,Air India Business,18:40,22h 25m,1 Stop,New Delhi,Bangalore,39783,2022-11-3,Business
17,Air India Business,10:40,7h 50m,1 Stop,New Delhi,Bangalore,42457,2022-11-3,Business
18,Air India Business,08:00,10h 30m,1 Stop,New Delhi,Bangalore,42457,2022-11-3,Business
19,Air India Business,20:00,11h 55m,1 Stop,New Delhi,Bangalore,42457,2022-11-3,Business
20,Air India Business,19:00,12h 55m,1 Stop,New Delhi,Bangalore,42457,2022-11-3,Business
21,Air India Business,17:50,14h 05m,2 Stop(s),New Delhi,Bangalore,42457,2022-11-3,Business
22,Air India Business,20:00,15h 10m,1 Stop,New Delhi,Bangalore,42457,2022-11-3,Business
23,Air India Business,19:00,16h 10m,1 Stop,New Delhi,Bangalore,42457,2022-11-3,Business
24,Air India Business,15:05,16h 50m,2 Stop(s),New Delhi,Bangalore,42457,2022-11-3,Business
25,Air India Business,17:50,17h 20m,2 Stop(s),New Delhi,Bangalore,42457,2022-11-3,Business
26,Air India Business,15:05,20h 05m,2 Stop(s),New Delhi,Bangalore,42457,2022-11-3,Business
27,Air India Business,10:40,21h 15m,1 Stop,New Delhi,Bangalore,42457,2022-11-3,Business
28,Air India Business,20:00,22h 30m,1 Stop,New Delhi,Bangalore,42457,2022-11-3,Business
29,Air India Business,19:00,23h 30m,1 Stop,New Delhi,Bangalore,42457,2022-11-3,Business
30,Air India Business,08:00,23h 55m,1 Stop,New Delhi,Bangalore,42457,2022-11-3,Business
31,Air India Business,10:40,24h 30m,1 Stop,New Delhi,Bangalore,42457,2022-11-3,Business
32,Air India Business,17:50,24h 40m,2 Stop(s),New Delhi,Bangalore,42457,2022-11-3,Business
33,Air India Business,08:00,27h 10m,1 Stop,New Delhi,Bangalore,42457,2022-11-3,Business
34,Air India Business,15:05,27h 25m,2 Stop(s),New Delhi,Bangalore,42457,2022-11-3,Business
35,Air India Business,16:45,8h 00m,1 Stop,New Delhi,Bangalore,45371,2022-11-3,Business
36,Air India Business,13:45,11h 00m,1 Stop,New Delhi,Bangalore,45371,2022-11-3,Business
37,Air India Business,06:50,9h 55m,1 Stop,New Delhi,Bangalore,52522,2022-11-3,Business
38,Air India Business,20:15,20h 30m,1 Stop,New Delhi,Bangalore,52522,2022-11-3,Business
39,Air India Business,16:55,23h 50m,1 Stop,New Delhi,Bangalore,52522,2022-11-3,Business
40,Air India Business,12:10,28h 35m,1 Stop,New Delhi,Bangalore,52522,2022-11-3,Business

In [55]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('DEL','BLR','6','11','2022','Business')

z4 = pd.DataFrame({})
z4['airlines'] = airlines
z4['departure'] = departure
z4['duration'] = duration
z4['stops'] = stops
z4['from_city'] = 'New Delhi'
z4['to_city'] = to_city
z4['price'] = price
z4['journey_date'] = '2022-11-6'
z4['fclass'] = 'Business'
z4

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Vistara Business,20:40,2h 40m,Non Stop,New Delhi,Bangalore,32859,2022-11-6,Business
1,Air India Business,21:15,2h 40m,Non Stop,New Delhi,Bangalore,32859,2022-11-6,Business
2,Air India Business,06:10,2h 45m,Non Stop,New Delhi,Bangalore,32859,2022-11-6,Business
3,Vistara Business,08:05,2h 45m,Non Stop,New Delhi,Bangalore,32859,2022-11-6,Business
4,Air India Business,09:45,2h 45m,Non Stop,New Delhi,Bangalore,32859,2022-11-6,Business
5,Air India Business,13:30,2h 45m,Non Stop,New Delhi,Bangalore,32859,2022-11-6,Business
6,Vistara Business,16:05,2h 45m,Non Stop,New Delhi,Bangalore,32859,2022-11-6,Business
7,Air India Business,17:20,2h 45m,Non Stop,New Delhi,Bangalore,32859,2022-11-6,Business
8,Vistara Business,14:15,2h 50m,Non Stop,New Delhi,Bangalore,32859,2022-11-6,Business
9,Vistara Business,17:35,2h 50m,Non Stop,New Delhi,Bangalore,32859,2022-11-6,Business
10,Vistara Business,19:50,2h 50m,Non Stop,New Delhi,Bangalore,32859,2022-11-6,Business
11,Air India Business,21:10,13h 15m,1 Stop,New Delhi,Bangalore,35490,2022-11-6,Business
12,Air India Business,09:45,24h 40m,1 Stop,New Delhi,Bangalore,35490,2022-11-6,Business
13,Air India Business,12:00,24h 50m,1 Stop,New Delhi,Bangalore,36546,2022-11-6,Business
14,Air India Business,07:05,12h 45m,1 Stop,New Delhi,Bangalore,37594,2022-11-6,Business
15,Air India Business,18:40,22h 25m,1 Stop,New Delhi,Bangalore,39783,2022-11-6,Business
16,Air India Business,10:40,7h 50m,1 Stop,New Delhi,Bangalore,42457,2022-11-6,Business
17,Air India Business,08:00,10h 30m,1 Stop,New Delhi,Bangalore,42457,2022-11-6,Business
18,Air India Business,20:00,11h 55m,1 Stop,New Delhi,Bangalore,42457,2022-11-6,Business
19,Air India Business,19:00,12h 55m,1 Stop,New Delhi,Bangalore,42457,2022-11-6,Business
20,Air India Business,17:50,14h 05m,2 Stop(s),New Delhi,Bangalore,42457,2022-11-6,Business
21,Air India Business,20:00,15h 10m,1 Stop,New Delhi,Bangalore,42457,2022-11-6,Business
22,Air India Business,19:00,16h 10m,1 Stop,New Delhi,Bangalore,42457,2022-11-6,Business
23,Air India Business,15:05,16h 50m,2 Stop(s),New Delhi,Bangalore,42457,2022-11-6,Business
24,Air India Business,17:50,17h 20m,2 Stop(s),New Delhi,Bangalore,42457,2022-11-6,Business
25,Air India Business,15:05,20h 05m,2 Stop(s),New Delhi,Bangalore,42457,2022-11-6,Business
26,Air India Business,20:00,22h 30m,1 Stop,New Delhi,Bangalore,42457,2022-11-6,Business
27,Air India Business,19:00,23h 30m,1 Stop,New Delhi,Bangalore,42457,2022-11-6,Business
28,Air India Business,10:40,24h 30m,1 Stop,New Delhi,Bangalore,42457,2022-11-6,Business
29,Air India Business,17:50,24h 40m,2 Stop(s),New Delhi,Bangalore,42457,2022-11-6,Business
30,Air India Business,08:00,27h 10m,1 Stop,New Delhi,Bangalore,42457,2022-11-6,Business
31,Air India Business,15:05,27h 25m,2 Stop(s),New Delhi,Bangalore,42457,2022-11-6,Business
32,Air India Business,16:55,6h 25m,1 Stop,New Delhi,Bangalore,52522,2022-11-6,Business
33,Air India Business,12:10,11h 10m,1 Stop,New Delhi,Bangalore,52522,2022-11-6,Business
34,Air India Business,06:50,16h 30m,1 Stop,New Delhi,Bangalore,52522,2022-11-6,Business
35,Air India Business,20:15,20h 30m,1 Stop,New Delhi,Bangalore,52522,2022-11-6,Business
36,Air India Business,09:30,13h 50m,2 Stop(s),New Delhi,Bangalore,57091,2022-11-6,Business

In [56]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('DEL','BLR','9','11','2022','Business')

z5 = pd.DataFrame({})
z5['airlines'] = airlines
z5['departure'] = departure
z5['duration'] = duration
z5['stops'] = stops
z5['from_city'] = 'New Delhi'
z5['to_city'] = to_city
z5['price'] = price
z5['journey_date'] = '2022-11-9'
z5['fclass'] = 'Business'
z5

Empty DataFrame
Columns: [airlines, departure, duration, stops, from_city, to_city, price, journey_date, fclass]
Index: []

In [57]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('DEL','BLR','12','11','2022','Business')

z6 = pd.DataFrame({})
z6['airlines'] = airlines
z6['departure'] = departure
z6['duration'] = duration
z6['stops'] = stops
z6['from_city'] = 'New Delhi'
z6['to_city'] = to_city
z6['price'] = price
z6['journey_date'] = '2022-11-12'
z6['fclass'] = 'Business'
z6

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Vistara Business,20:40,2h 40m,Non Stop,New Delhi,Bangalore,32859,2022-11-12,Business
1,Air India Business,21:15,2h 40m,Non Stop,New Delhi,Bangalore,32859,2022-11-12,Business
2,Air India Business,06:10,2h 45m,Non Stop,New Delhi,Bangalore,32859,2022-11-12,Business
3,Vistara Business,06:15,2h 45m,Non Stop,New Delhi,Bangalore,32859,2022-11-12,Business
4,Vistara Business,08:05,2h 45m,Non Stop,New Delhi,Bangalore,32859,2022-11-12,Business
5,Air India Business,09:45,2h 45m,Non Stop,New Delhi,Bangalore,32859,2022-11-12,Business
6,Air India Business,13:30,2h 45m,Non Stop,New Delhi,Bangalore,32859,2022-11-12,Business
7,Vistara Business,16:05,2h 45m,Non Stop,New Delhi,Bangalore,32859,2022-11-12,Business
8,Air India Business,17:20,2h 45m,Non Stop,New Delhi,Bangalore,32859,2022-11-12,Business
9,Vistara Business,14:15,2h 50m,Non Stop,New Delhi,Bangalore,32859,2022-11-12,Business
10,Vistara Business,17:35,2h 50m,Non Stop,New Delhi,Bangalore,32859,2022-11-12,Business
11,Vistara Business,19:50,2h 50m,Non Stop,New Delhi,Bangalore,32859,2022-11-12,Business
12,Air India Business,12:00,24h 50m,1 Stop,New Delhi,Bangalore,36546,2022-11-12,Business
13,Air India Business,07:05,12h 45m,1 Stop,New Delhi,Bangalore,37594,2022-11-12,Business
14,Air India Business,18:30,25h 20m,1 Stop,New Delhi,Bangalore,37594,2022-11-12,Business
15,Air India Business,09:45,4h 40m,1 Stop,New Delhi,Bangalore,39545,2022-11-12,Business
16,Air India Business,06:00,8h 25m,1 Stop,New Delhi,Bangalore,39545,2022-11-12,Business
17,Air India Business,18:40,22h 25m,1 Stop,New Delhi,Bangalore,39783,2022-11-12,Business
18,Air India Business,10:40,7h 50m,1 Stop,New Delhi,Bangalore,42457,2022-11-12,Business
19,Air India Business,08:00,10h 30m,1 Stop,New Delhi,Bangalore,42457,2022-11-12,Business
20,Air India Business,20:00,22h 30m,1 Stop,New Delhi,Bangalore,42457,2022-11-12,Business
21,Air India Business,19:00,23h 30m,1 Stop,New Delhi,Bangalore,42457,2022-11-12,Business
22,Air India Business,17:50,24h 40m,2 Stop(s),New Delhi,Bangalore,42457,2022-11-12,Business
23,Air India Business,15:05,27h 25m,2 Stop(s),New Delhi,Bangalore,42457,2022-11-12,Business
24,Air India Business,16:55,6h 25m,1 Stop,New Delhi,Bangalore,52522,2022-11-12,Business

In [58]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('DEL','BLR','15','11','2022','Business')

z7 = pd.DataFrame({})
z7['airlines'] = airlines
z7['departure'] = departure
z7['duration'] = duration
z7['stops'] = stops
z7['from_city'] = 'New Delhi'
z7['to_city'] = to_city
z7['price'] = price
z7['journey_date'] = '2022-11-15'
z7['fclass'] = 'Business'
z7

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Air India Business,09:30,2h 35m,Non Stop,New Delhi,Bangalore,32859,2022-11-15,Business
1,Vistara Business,20:40,2h 40m,Non Stop,New Delhi,Bangalore,32859,2022-11-15,Business
2,Air India Business,21:15,2h 40m,Non Stop,New Delhi,Bangalore,32859,2022-11-15,Business
3,Air India Business,06:10,2h 45m,Non Stop,New Delhi,Bangalore,32859,2022-11-15,Business
4,Vistara Business,06:15,2h 45m,Non Stop,New Delhi,Bangalore,32859,2022-11-15,Business
5,Vistara Business,08:05,2h 45m,Non Stop,New Delhi,Bangalore,32859,2022-11-15,Business
6,Vistara Business,16:05,2h 45m,Non Stop,New Delhi,Bangalore,32859,2022-11-15,Business
7,Air India Business,17:20,2h 45m,Non Stop,New Delhi,Bangalore,32859,2022-11-15,Business
8,Vistara Business,14:15,2h 50m,Non Stop,New Delhi,Bangalore,32859,2022-11-15,Business
9,Vistara Business,17:35,2h 50m,Non Stop,New Delhi,Bangalore,32859,2022-11-15,Business
10,Vistara Business,19:50,2h 50m,Non Stop,New Delhi,Bangalore,32859,2022-11-15,Business
11,Air India Business,07:05,14h 40m,1 Stop,New Delhi,Bangalore,37594,2022-11-15,Business
12,Air India Business,09:45,5h 35m,1 Stop,New Delhi,Bangalore,39545,2022-11-15,Business
13,Air India Business,06:00,9h 20m,1 Stop,New Delhi,Bangalore,39545,2022-11-15,Business
14,Air India Business,18:40,22h 25m,1 Stop,New Delhi,Bangalore,39783,2022-11-15,Business
15,Air India Business,10:40,7h 50m,1 Stop,New Delhi,Bangalore,42457,2022-11-15,Business
16,Air India Business,08:00,10h 30m,1 Stop,New Delhi,Bangalore,42457,2022-11-15,Business
17,Air India Business,20:00,11h 55m,1 Stop,New Delhi,Bangalore,42457,2022-11-15,Business
18,Air India Business,19:00,12h 55m,1 Stop,New Delhi,Bangalore,42457,2022-11-15,Business
19,Air India Business,17:50,14h 05m,2 Stop(s),New Delhi,Bangalore,42457,2022-11-15,Business
20,Air India Business,20:00,15h 10m,1 Stop,New Delhi,Bangalore,42457,2022-11-15,Business
21,Air India Business,19:00,16h 10m,1 Stop,New Delhi,Bangalore,42457,2022-11-15,Business
22,Air India Business,15:05,16h 50m,2 Stop(s),New Delhi,Bangalore,42457,2022-11-15,Business
23,Air India Business,17:50,17h 20m,2 Stop(s),New Delhi,Bangalore,42457,2022-11-15,Business
24,Air India Business,15:05,20h 05m,2 Stop(s),New Delhi,Bangalore,42457,2022-11-15,Business

In [59]:
del_blr = pd.concat([x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,y1,y2,y3,y4,y5,y6,y7,y8,y9,z1,z2,z3,z4,z5,z6,z7], axis = 0)
del_blr.shape
del_blr.to_excel('delhiblr.xlsx')

In [60]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('DEL','MAA','28','10','2022','Economy')
get_yatra('DEL','CCU','28','10','2022','Economy')
get_yatra('DEL','HYD','28','10','2022','Economy')
get_yatra('DEL','AMD','28','10','2022','Economy')
get_yatra('DEL','GOI','28','10','2022','Economy')

x1 = pd.DataFrame({})
x1['airlines'] = airlines
x1['departure'] = departure
x1['duration'] = duration
x1['stops'] = stops
x1['from_city'] = 'New Delhi'
x1['to_city'] = to_city
x1['price'] = price
x1['journey_date'] = '2022-10-28'
x1['fclass'] = 'Economy'
x1

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Air India,06:00,2h 55m,Non Stop,New Delhi,Chennai,2343,2022-10-28,Economy
1,Air India,09:45,2h 55m,Non Stop,New Delhi,Chennai,2343,2022-10-28,Economy
2,Air India,20:40,2h 55m,Non Stop,New Delhi,Chennai,2343,2022-10-28,Economy
3,SpiceJet,20:25,2h 55m,Non Stop,New Delhi,Chennai,2831,2022-10-28,Economy
4,SpiceJet,06:10,3h 00m,Non Stop,New Delhi,Chennai,2831,2022-10-28,Economy
5,IndiGo,07:10,2h 55m,Non Stop,New Delhi,Chennai,3264,2022-10-28,Economy
6,IndiGo,08:30,2h 55m,Non Stop,New Delhi,Chennai,3264,2022-10-28,Economy
7,IndiGo,12:45,2h 55m,Non Stop,New Delhi,Chennai,3264,2022-10-28,Economy
8,Air India,09:45,12h 50m,1 Stop,New Delhi,Chennai,3610,2022-10-28,Economy
9,Air India,07:05,15h 30m,1 Stop,New Delhi,Chennai,3610,2022-10-28,Economy
10,IndiGo,20:30,2h 50m,Non Stop,New Delhi,Chennai,3705,2022-10-28,Economy
11,IndiGo,18:45,2h 55m,Non Stop,New Delhi,Chennai,3705,2022-10-28,Economy
12,IndiGo,23:10,2h 55m,Non Stop,New Delhi,Chennai,3705,2022-10-28,Economy
13,IndiGo,16:20,2h 55m,Non Stop,New Delhi,Chennai,3789,2022-10-28,Economy
14,Air India,21:10,10h 50m,1 Stop,New Delhi,Chennai,3936,2022-10-28,Economy
15,Air India,09:45,22h 15m,1 Stop,New Delhi,Chennai,3936,2022-10-28,Economy
16,Air India,07:05,24h 55m,1 Stop,New Delhi,Chennai,3936,2022-10-28,Economy
17,Air India,20:00,11h 15m,1 Stop,New Delhi,Chennai,3988,2022-10-28,Economy
18,Air India,19:00,12h 15m,1 Stop,New Delhi,Chennai,3988,2022-10-28,Economy
19,Air India,17:50,13h 25m,2 Stop(s),New Delhi,Chennai,3988,2022-10-28,Economy
20,Air India,20:00,14h 55m,1 Stop,New Delhi,Chennai,3988,2022-10-28,Economy
21,Air India,19:00,15h 55m,1 Stop,New Delhi,Chennai,3988,2022-10-28,Economy
22,Air India,15:05,16h 10m,2 Stop(s),New Delhi,Chennai,3988,2022-10-28,Economy
23,Air India,17:50,17h 05m,2 Stop(s),New Delhi,Chennai,3988,2022-10-28,Economy
24,Air India,15:05,19h 50m,2 Stop(s),New Delhi,Chennai,3988,2022-10-28,Economy

In [61]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('DEL','MAA','30','10','2022','Economy')
time.sleep(5)
get_yatra('DEL','CCU','30','10','2022','Economy')
time.sleep(5)
get_yatra('DEL','HYD','30','10','2022','Economy')
time.sleep(5)
get_yatra('DEL','AMD','30','10','2022','Economy')
time.sleep(5)
get_yatra('DEL','GOI','30','10','2022','Economy')

x2 = pd.DataFrame({})
x2['airlines'] = airlines
x2['departure'] = departure
x2['duration'] = duration
x2['stops'] = stops
x2['from_city'] = 'New Delhi'
x2['to_city'] = to_city
x2['price'] = price
x2['journey_date'] = '2022-10-30'
x2['fclass'] = 'Economy'
x2

Empty DataFrame
Columns: [airlines, departure, duration, stops, from_city, to_city, price, journey_date, fclass]
Index: []

In [62]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('DEL','MAA','1','11','2022','Economy')
time.sleep(5)
get_yatra('DEL','CCU','1','11','2022','Economy')
time.sleep(5)
get_yatra('DEL','HYD','1','11','2022','Economy')
time.sleep(5)
get_yatra('DEL','AMD','1','11','2022','Economy')
time.sleep(5)
get_yatra('DEL','GOI','1','11','2022','Economy')

x3 = pd.DataFrame({})
x3['airlines'] = airlines
x3['departure'] = departure
x3['duration'] = duration
x3['stops'] = stops
x3['from_city'] = 'New Delhi'
x3['to_city'] = to_city
x3['price'] = price
x3['journey_date'] = '2022-11-1'
x3['fclass'] = 'Economy'
x3

Empty DataFrame
Columns: [airlines, departure, duration, stops, from_city, to_city, price, journey_date, fclass]
Index: []

In [63]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('DEL','MAA','3','11','2022','Economy')
time.sleep(5)
get_yatra('DEL','CCU','3','11','2022','Economy')
time.sleep(5)
get_yatra('DEL','HYD','3','11','2022','Economy')
time.sleep(5)
get_yatra('DEL','AMD','3','11','2022','Economy')
time.sleep(5)
get_yatra('DEL','GOI','3','11','2022','Economy')

x4 = pd.DataFrame({})
x4['airlines'] = airlines
x4['departure'] = departure
x4['duration'] = duration
x4['stops'] = stops
x4['from_city'] = 'New Delhi'
x4['to_city'] = to_city
x4['price'] = price
x4['journey_date'] = '2022-11-3'
x4['fclass'] = 'Economy'
x4

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Air India,06:00,2h 55m,Non Stop,New Delhi,Chennai,2343,2022-11-3,Economy
1,Air India,09:45,2h 55m,Non Stop,New Delhi,Chennai,2343,2022-11-3,Economy
2,Air India,20:40,2h 55m,Non Stop,New Delhi,Chennai,2343,2022-11-3,Economy
3,SpiceJet,06:15,2h 55m,Non Stop,New Delhi,Chennai,2831,2022-11-3,Economy
4,Air India,09:45,12h 50m,1 Stop,New Delhi,Chennai,3610,2022-11-3,Economy
...,...,...,...,...,...,...,...,...,...
70,Air India,20:00,24h 45m,1 Stop,New Delhi,Hyderabad,4209,2022-11-3,Economy
71,Air India,19:00,25h 45m,1 Stop,New Delhi,Hyderabad,4209,2022-11-3,Economy
72,Air India,20:00,26h 25m,1 Stop,New Delhi,Hyderabad,4209,2022-11-3,Economy
73,Air India,17:50,26h 55m,2 Stop(s),New Delhi,Hyderabad,4209,2022-11-3,Economy
74,Air India,19:00,27h 25m,1 Stop,New Delhi,Hyderabad,4209,2022-11-3,Economy

In [64]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('DEL','MAA','5','11','2022','Economy')
time.sleep(5)
get_yatra('DEL','CCU','5','11','2022','Economy')
time.sleep(5)
get_yatra('DEL','HYD','5','11','2022','Economy')
time.sleep(5)
get_yatra('DEL','AMD','5','11','2022','Economy')
time.sleep(5)
get_yatra('DEL','GOI','5','11','2022','Economy')

x5 = pd.DataFrame({})
x5['airlines'] = airlines
x5['departure'] = departure
x5['duration'] = duration
x5['stops'] = stops
x5['from_city'] = 'New Delhi'
x5['to_city'] = to_city
x5['price'] = price
x5['journey_date'] = '2022-11-5'
x5['fclass'] = 'Economy'
x5

Empty DataFrame
Columns: [airlines, departure, duration, stops, from_city, to_city, price, journey_date, fclass]
Index: []

In [65]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('DEL','MAA','7','11','2022','Economy')
time.sleep(5)
get_yatra('DEL','CCU','7','11','2022','Economy')
time.sleep(5)
get_yatra('DEL','HYD','7','11','2022','Economy')
time.sleep(5)
get_yatra('DEL','AMD','7','11','2022','Economy')
time.sleep(5)
get_yatra('DEL','GOI','7','11','2022','Economy')

x7 = pd.DataFrame({})
x7['airlines'] = airlines
x7['departure'] = departure
x7['duration'] = duration
x7['stops'] = stops
x7['from_city'] = 'New Delhi'
x7['to_city'] = to_city
x7['price'] = price
x7['journey_date'] = '2022-11-7'
x7['fclass'] = 'Economy'
x7

Empty DataFrame
Columns: [airlines, departure, duration, stops, from_city, to_city, price, journey_date, fclass]
Index: []

In [66]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('DEL','MAA','9','11','2022','Economy')
time.sleep(5)
get_yatra('DEL','CCU','9','11','2022','Economy')
time.sleep(5)
get_yatra('DEL','HYD','9','11','2022','Economy')
time.sleep(5)
get_yatra('DEL','AMD','9','11','2022','Economy')
time.sleep(5)
get_yatra('DEL','GOI','9','11','2022','Economy')

x6 = pd.DataFrame({})
x6['airlines'] = airlines
x6['departure'] = departure
x6['duration'] = duration
x6['stops'] = stops
x6['from_city'] = 'New Delhi'
x6['to_city'] = to_city
x6['price'] = price
x6['journey_date'] = '2022-11-9'
x6['fclass'] = 'Economy'
x6

Empty DataFrame
Columns: [airlines, departure, duration, stops, from_city, to_city, price, journey_date, fclass]
Index: []

In [67]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('DEL','MAA','11','11','2022','Economy')
time.sleep(5)
get_yatra('DEL','CCU','11','11','2022','Economy')
time.sleep(5)
get_yatra('DEL','HYD','11','11','2022','Economy')
time.sleep(5)
get_yatra('DEL','AMD','11','11','2022','Economy')
time.sleep(5)
get_yatra('DEL','GOI','11','11','2022','Economy')

x8 = pd.DataFrame({})
x8['airlines'] = airlines
x8['departure'] = departure
x8['duration'] = duration
x8['stops'] = stops
x8['from_city'] = 'New Delhi'
x8['to_city'] = to_city
x8['price'] = price
x8['journey_date'] = '2022-11-11'
x8['fclass'] = 'Economy'
x8

ProtocolError: ('Connection aborted.', ConnectionResetError(10054, 'An existing connection was forcibly closed by the remote host', None, 10054, None))

In [ ]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('DEL','MAA','13','11','2022','Economy')
time.sleep(5)
get_yatra('DEL','CCU','13','11','2022','Economy')
time.sleep(5)
get_yatra('DEL','HYD','13','11','2022','Economy')
time.sleep(5)
get_yatra('DEL','AMD','13','11','2022','Economy')
time.sleep(5)
get_yatra('DEL','GOI','13','11','2022','Economy')

x9 = pd.DataFrame({})
x9['airlines'] = airlines
x9['departure'] = departure
x9['duration'] = duration
x9['stops'] = stops
x9['from_city'] = 'New Delhi'
x9['to_city'] = to_city
x9['price'] = price
x9['journey_date'] = '2022-11-13'
x9['fclass'] = 'Economy'
x9

In [ ]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('DEL','MAA','29','10','2022','Special')
time.sleep(5)
get_yatra('DEL','CCU','29','10','2022','Special')
time.sleep(5)
get_yatra('DEL','HYD','29','10','2022','Special')
time.sleep(5)
get_yatra('DEL','AMD','29','10','2022','Special')
time.sleep(5)
get_yatra('DEL','GOI','29','10','2022','Special')

y1 = pd.DataFrame({})
y1['airlines'] = airlines
y1['departure'] = departure
y1['duration'] = duration
y1['stops'] = stops
y1['from_city'] = 'New Delhi'
y1['to_city'] = to_city
y1['price'] = price
y1['journey_date'] = '2022-10-29'
y1['fclass'] = 'Special'
y1

In [ ]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('DEL','MAA','31','10','2022','Special')
time.sleep(5)
get_yatra('DEL','CCU','31','10','2022','Special')
time.sleep(5)
get_yatra('DEL','HYD','31','10','2022','Special')
time.sleep(5)
get_yatra('DEL','AMD','31','10','2022','Special')
time.sleep(5)
get_yatra('DEL','GOI','31','10','2022','Special')

y2 = pd.DataFrame({})
y2['airlines'] = airlines
y2['departure'] = departure
y2['duration'] = duration
y2['stops'] = stops
y2['from_city'] = 'New Delhi'
y2['to_city'] = to_city
y2['price'] = price
y2['journey_date'] = '2022-10-31'
y2['fclass'] = 'Special'
y2

In [ ]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('DEL','MAA','2','11','2022','Special')
time.sleep(5)
get_yatra('DEL','CCU','2','11','2022','Special')
time.sleep(5)
get_yatra('DEL','HYD','2','11','2022','Special')
time.sleep(5)
get_yatra('DEL','AMD','2','11','2022','Special')
time.sleep(5)
get_yatra('DEL','GOI','2','11','2022','Special')

y3 = pd.DataFrame({})
y3['airlines'] = airlines
y3['departure'] = departure
y3['duration'] = duration
y3['stops'] = stops
y3['from_city'] = 'New Delhi'
y3['to_city'] = to_city
y3['price'] = price
y3['journey_date'] = '2022-11-2'
y3['fclass'] = 'Special'
y3

In [ ]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('DEL','MAA','4','11','2022','Special')
time.sleep(5)
get_yatra('DEL','CCU','4','11','2022','Special')
time.sleep(5)
get_yatra('DEL','HYD','4','11','2022','Special')
time.sleep(5)
get_yatra('DEL','AMD','4','11','2022','Special')
time.sleep(5)
get_yatra('DEL','GOI','4','11','2022','Special')

y4 = pd.DataFrame({})
y4['airlines'] = airlines
y4['departure'] = departure
y4['duration'] = duration
y4['stops'] = stops
y4['from_city'] = 'New Delhi'
y4['to_city'] = to_city
y4['price'] = price
y4['journey_date'] = '2022-11-4'
y4['fclass'] = 'Special'
y4

In [ ]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('DEL','MAA','6','11','2022','Special')
time.sleep(5)
get_yatra('DEL','CCU','6','11','2022','Special')
time.sleep(5)
get_yatra('DEL','HYD','6','11','2022','Special')
time.sleep(5)
get_yatra('DEL','AMD','6','11','2022','Special')
time.sleep(5)
get_yatra('DEL','GOI','6','11','2022','Special')

y5 = pd.DataFrame({})
y5['airlines'] = airlines
y5['departure'] = departure
y5['duration'] = duration
y5['stops'] = stops
y5['from_city'] = 'New Delhi'
y5['to_city'] = to_city
y5['price'] = price
y5['journey_date'] = '2022-11-6'
y5['fclass'] = 'Special'
y5

In [ ]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('DEL','MAA','8','11','2022','Special')
time.sleep(5)
get_yatra('DEL','CCU','8','11','2022','Special')
time.sleep(5)
get_yatra('DEL','HYD','8','11','2022','Special')
time.sleep(5)
get_yatra('DEL','AMD','8','11','2022','Special')
time.sleep(5)
get_yatra('DEL','GOI','8','11','2022','Special')

y6 = pd.DataFrame({})
y6['airlines'] = airlines
y6['departure'] = departure
y6['duration'] = duration
y6['stops'] = stops
y6['from_city'] = 'New Delhi'
y6['to_city'] = to_city
y6['price'] = price
y6['journey_date'] = '2022-11-8'
y6['fclass'] = 'Special'
y6

In [ ]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('DEL','MAA','10','11','2022','Special')
time.sleep(5)
get_yatra('DEL','CCU','10','11','2022','Special')
time.sleep(5)
get_yatra('DEL','HYD','10','11','2022','Special')
time.sleep(5)
get_yatra('DEL','AMD','10','11','2022','Special')
time.sleep(5)
get_yatra('DEL','GOI','10','11','2022','Special')

y7 = pd.DataFrame({})
y7['airlines'] = airlines
y7['departure'] = departure
y7['duration'] = duration
y7['stops'] = stops
y7['from_city'] = 'New Delhi'
y7['to_city'] = to_city
y7['price'] = price
y7['journey_date'] = '2022-11-10'
y7['fclass'] = 'Special'
y7

In [ ]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('DEL','MAA','12','11','2022','Special')
time.sleep(5)
get_yatra('DEL','CCU','12','11','2022','Special')
time.sleep(5)
get_yatra('DEL','HYD','12','11','2022','Special')
time.sleep(5)
get_yatra('DEL','AMD','12','11','2022','Special')
time.sleep(5)
get_yatra('DEL','GOI','12','11','2022','Special')

y8 = pd.DataFrame({})
y8['airlines'] = airlines
y8['departure'] = departure
y8['duration'] = duration
y8['stops'] = stops
y8['from_city'] = 'New Delhi'
y8['to_city'] = to_city
y8['price'] = price
y8['journey_date'] = '2022-11-12'
y8['fclass'] = 'Special'
y8

In [ ]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('DEL','MAA','14','11','2022','Special')
time.sleep(5)
get_yatra('DEL','CCU','14','11','2022','Special')
time.sleep(5)
get_yatra('DEL','HYD','14','11','2022','Special')
time.sleep(5)
get_yatra('DEL','AMD','14','11','2022','Special')
time.sleep(5)
get_yatra('DEL','GOI','14','11','2022','Special')

y9 = pd.DataFrame({})
y9['airlines'] = airlines
y9['departure'] = departure
y9['duration'] = duration
y9['stops'] = stops
y9['from_city'] = 'New Delhi'
y9['to_city'] = to_city
y9['price'] = price
y9['journey_date'] = '2022-11-14'
y9['fclass'] = 'Special'
y9

In [ ]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('DEL','MAA','29','10','2022','Business')
time.sleep(5)
get_yatra('DEL','CCU','29','10','2022','Business')
time.sleep(5)
get_yatra('DEL','HYD','29','10','2022','Business')
time.sleep(5)
get_yatra('DEL','AMD','29','10','2022','Business')
time.sleep(5)
get_yatra('DEL','GOI','29','10','2022','Business')

z1 = pd.DataFrame({})
z1['airlines'] = airlines
z1['departure'] = departure
z1['duration'] = duration
z1['stops'] = stops
z1['from_city'] = 'New Delhi'
z1['to_city'] = to_city
z1['price'] = price
z1['journey_date'] = '2022-10-29'
z1['fclass'] = 'Business'
z1

In [ ]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('DEL','MAA','1','11','2022','Business')
time.sleep(5)
get_yatra('DEL','CCU','1','11','2022','Business')
time.sleep(5)
get_yatra('DEL','HYD','1','11','2022','Business')
time.sleep(5)
get_yatra('DEL','AMD','1','11','2022','Business')
time.sleep(5)
get_yatra('DEL','GOI','1','11','2022','Business')

z2 = pd.DataFrame({})
z2['airlines'] = airlines
z2['departure'] = departure
z2['duration'] = duration
z2['stops'] = stops
z2['from_city'] = 'New Delhi'
z2['to_city'] = to_city
z2['price'] = price
z2['journey_date'] = '2022-11-1'
z2['fclass'] = 'Business'
z2

In [ ]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('DEL','MAA','3','11','2022','Business')
time.sleep(5)
get_yatra('DEL','CCU','3','11','2022','Business')
time.sleep(5)
get_yatra('DEL','HYD','3','11','2022','Business')
time.sleep(5)
get_yatra('DEL','AMD','3','11','2022','Business')
time.sleep(5)
get_yatra('DEL','GOI','3','11','2022','Business')

z3 = pd.DataFrame({})
z3['airlines'] = airlines
z3['departure'] = departure
z3['duration'] = duration
z3['stops'] = stops
z3['from_city'] = 'New Delhi'
z3['to_city'] = to_city
z3['price'] = price
z3['journey_date'] = '2022-11-3'
z3['fclass'] = 'Business'
z3

In [ ]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('DEL','MAA','5','11','2022','Business')
time.sleep(5)
get_yatra('DEL','CCU','5','11','2022','Business')
time.sleep(5)
get_yatra('DEL','HYD','5','11','2022','Business')
time.sleep(5)
get_yatra('DEL','AMD','5','11','2022','Business')
time.sleep(5)
get_yatra('DEL','GOI','5','11','2022','Business')

z4 = pd.DataFrame({})
z4['airlines'] = airlines
z4['departure'] = departure
z4['duration'] = duration
z4['stops'] = stops
z4['from_city'] = 'New Delhi'
z4['to_city'] = to_city
z4['price'] = price
z4['journey_date'] = '2022-11-5'
z4['fclass'] = 'Business'
z4

In [ ]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('DEL','MAA','7','11','2022','Business')
time.sleep(5)
get_yatra('DEL','CCU','7','11','2022','Business')
time.sleep(5)
get_yatra('DEL','HYD','7','11','2022','Business')
time.sleep(5)
get_yatra('DEL','AMD','7','11','2022','Business')
time.sleep(5)
get_yatra('DEL','GOI','7','11','2022','Business')

z5 = pd.DataFrame({})
z5['airlines'] = airlines
z5['departure'] = departure
z5['duration'] = duration
z5['stops'] = stops
z5['from_city'] = 'New Delhi'
z5['to_city'] = to_city
z5['price'] = price
z5['journey_date'] = '2022-11-7'
z5['fclass'] = 'Business'
z5

In [ ]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('DEL','MAA','10','11','2022','Business')
time.sleep(5)
get_yatra('DEL','CCU','10','11','2022','Business')
time.sleep(5)
get_yatra('DEL','HYD','10','11','2022','Business')
time.sleep(5)
get_yatra('DEL','AMD','10','11','2022','Business')
time.sleep(5)
get_yatra('DEL','GOI','10','11','2022','Business')

z6 = pd.DataFrame({})
z6['airlines'] = airlines
z6['departure'] = departure
z6['duration'] = duration
z6['stops'] = stops
z6['from_city'] = 'New Delhi'
z6['to_city'] = to_city
z6['price'] = price
z6['journey_date'] = '2022-11-10'
z6['fclass'] = 'Business'
z6

In [ ]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('DEL','MAA','13','11','2022','Business')
time.sleep(5)
get_yatra('DEL','CCU','13','11','2022','Business')
time.sleep(5)
get_yatra('DEL','HYD','13','11','2022','Business')
time.sleep(5)
get_yatra('DEL','AMD','13','11','2022','Business')
time.sleep(5)
get_yatra('DEL','GOI','13','11','2022','Business')

z7 = pd.DataFrame({})
z7['airlines'] = airlines
z7['departure'] = departure
z7['duration'] = duration
z7['stops'] = stops
z7['from_city'] = 'New Delhi'
z7['to_city'] = to_city
z7['price'] = price
z7['journey_date'] = '2022-11-13'
z7['fclass'] = 'Business'
z7

In [ ]:
del_oth = pd.concat([x1,x2,x3,x4,x5,x6,x7,x8,x9,y1,y2,y3,y4,y5,y6,y7,y8,y9,z1,z2,z3,z4,z5,z6,z7], axis = 0)
del_oth.shape
del_oth.to_excel('delhiother.xlsx')